		
/*Colors Light*/

	$colorPrimary: 				#aaa;
	$colorPrimaryContrast: 		#444;
			
	$colorSecondary:			#aaa;
	$colorSecondaryContrast:	#444;
	
	$colorFont:					#aaa;
	$colorGrey: 				#777;
	$colorBackground:			#666;