		
$dark: false;

/*Light*/

    $colorPrimary: 				lighten(#036, 10%)  !default;
    $colorPrimaryContrast: 		#fff                !default;
            
    $colorSecondary:			#c2714f             !default;
    $colorSecondaryContrast:	#fff                !default;

    $colorFont:					#444                !default;
    $colorGrey: 				#ddd                !default;
    $colorBackground:			#fff                !default;

		
/*Dark*/
@if $dark == true {
	$colorPrimary: 				#999;
	$colorPrimaryContrast: 		#444;
			
	$colorSecondary:			#aaa;
	$colorSecondaryContrast:	#444;
	
	$colorFont:					#aaa;
	$colorGrey: 				#888;
	$colorBackground:			#222;
}