
@import 'colors.scss';
@import 'material-shadow.scss';

#right .btn.btn-default.dropdown-toggle {
    background-color: $color-primary-500;
    color: $color-card-background;
    height: 56px;
    border: none;
    border-radius: 2px 0 0 0;

    font-size: 16px;
    line-height: 19px;

    z-index: 100;
}

#right .dropdown-menu.open {
    @include material-shadow(2);
    
    position: relative;
    top: -20px;
    left: 28%;
    height: auto;
    max-height: 25vh;
    transition: max-height .25s ease-in-out;
    max-width: 70%;
    background-color: $color-card-background;
    border: none;
    border-radius: 2px;
    z-index: 101;
}