/*Article Card*/

@import "colors.scss";

$header-height:     1.250em;
$title-line-height: 1.5em;
$text-line-height:  1em;
$text-lines:        2;
$tag-line-height:   .938em;

$card-padding:      .625em;
$card-spacing:      .313em;



.card {
	$height:    $header-height + 
                $title-line-height + 
                ($text-line-height * $text-lines) +
                $tag-line-height +
                ($card-spacing * 2) + 
                ($card-padding * 2);
    
    min-height: $height;
	max-height: $height;
	height: $height;
			
	padding: $card-padding;
	margin: 0;
			
	width: 100%;
	border-bottom: 	1px solid $colorGrey;
	overflow: hidden;
	position: relative;
	background: $colorCardBackground;

    display: block;

    transition: box-shadow .25 ease-in-out;
    box-shadow: 0 0px 2px rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    transition: margin .25s ease-in-out;
    margin: 0;
}

    .card-header {
        height: $header-height;
    }

        .card .subject {
            color: $colorGrey;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            font-size: .75em;
        }
		
    .card:hover {
	    background: darken($colorCardBackground, 5%);
        transition: box-shadow .25s ease-in-out;
        box-shadow: 0 0px 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
        z-index: 98;
		cursor: pointer;
	}			
		
        .card:hover .card-btn {
            visibility: visible;
        }		
		
	.card .title{					
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		font-size: 	1.25em;
		line-height: 1.5em;
	}
		
	.card .text{
        overflow: hidden;
		white-space: normal;

        min-height: $text-line-height * 2;
		height: $text-line-height * 2;		
			
		font-size: 	.875em;
		line-height: $text-line-height;
	}

    .card .tag {
        font-size: .75em;
        line-height: $tag-line-height;
        font-style: italic;

        display: inline-block;
        width: auto;
        margin-right: 5px;
        border: none;
    }
		
        .card #tag-wrapper {
            width: 70%;
            margin: $card-spacing 0 0 0;
            height: $tag-line-height;
            white-space: nowrap;
            overflow: show;
            float: left;
        }

        .card #tag-wrapper-action {
            width: 33%;
            float: left;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            background: inherit;
        }

            .card #tag-wrapper-action .action {
                background: none;
                border: none;
                float: left;
                margin-right: 5px;
                clear: none;
                color: $colorPrimary;
            }    
            
        .card #icon {
            float: left;
        }		
		
	.card .card-btn{
		visibility: hidden;
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 1em;
		
		opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
	}

        .card .card-btn:hover{
            opacity: 1;
            filter: alpha(opacity=100); /* For IE8 and earlier */
            transition: opacity .2s ease-in-out;
        }

    .card.active {        
        background: darken($colorCardBackground, 15%);
        transition: box-shadow .25s ease-in-out;
        box-shadow: 0 0px 6px 0 rgba(0,0,0,0.12), 0 6px 6px 0 rgba(0,0,0,0.24);
        transition: margin .25s ease-in-out;
        margin: 10px -5px 10px -5px;
        width: auto;
        z-index: 99;
	}		
	    .card.active:hover {
			background: darken($colorCardBackground, 20%);
            box-shadow: 0 0px 6px 0 rgba(0,0,0,0.12), 0 6px 6px 0 rgba(0,0,0,0.24);
            transition: margin .25s ease-in-out;
		}

    .card.active .tag {
        color: $colorFont;
    }
		
	.read {
        .title {
            color: $colorGrey
        }
        .text {
            color: $colorGrey
        }
        .tag {
            background: transparent;
            color: $colorGrey
        }
    }

	.active-read {
        .title {
            color: darken($colorGrey, 30%);
        }
        .text {
            color: darken($colorGrey, 30%);
        }
        .tag {
            color: darken($colorGrey, 30%);
        }
        .subject {
            color: darken($colorGrey, 30%);
        }
    }