/*Article Card*/

@import "colors-light.scss";

$cardHeight: 6.5em;

.article-card {
	min-height: $cardHeight;
	max-height: $cardHeight;
	height: $cardHeight;
			
	padding: 5px 0px 5px 10px;
	margin: 0;
			
	width: 100%;
	border-bottom: 	1px solid $colorGrey;
	overflow: hidden;
	position: relative;
	background: $colorBackground;
}
		
    .article-card:hover {
	    background: lighten($colorGrey, 8%);
		cursor: pointer;
	}			
		
        .article-card:hover .card-btn {
            visibility: visible;
        }		
		
	.article-card .title{					
		margin: 0px 15px 0px 0px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		
		font-size: 	1.25em;
		line-height: 1.15em;
	}
		
	.article-card .text{	
		min-height: 2.5em;
		height: 2.5em;
			
		padding: 0px 0px 10px 0xp;
		margin: 0px 15px 0px 0px;
		overflow: hidden;
		white-space: normal;
			
		font-size: 	1em;
		line-height: 1.25em;
	}

    .article-card .tag {
		font-size: 	.80em;
	}
		
        .article-card #tag-wrapper {
            width: 70%;
            height: auto;
            white-space: nowrap;
            overflow: show;
            float: left;
        }

        .article-card .attributes-wrapper {
            background: inherit;
        }

        .article-card #tag-wrapper-action {
            display: inline-block;
            width: 30%;
            position: absolute;
            right: 5px;
            bottom: 10px;
            overflow: hidden;
            white-space: nowrap;
            background: inherit;
        }

            .article-card #tag-wrapper-action .action {
                background: none;
                border: none;
                float: right;
                margin-right: 5px;
                clear: none;
                color: ($colorSecondary);
            }    
            
        .article-card #icon {
            float: left;
        }		
		
	.article-card .card-btn{
		visibility: hidden;
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 1em;
		
		opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
	}

        .article-card .card-btn:hover{
            opacity: 1;
            filter: alpha(opacity=100); /* For IE8 and earlier */
            transition: opacity .2s ease-in-out;
        }

    .active {
		background: darken($colorGrey, 10%);
	}
		
	    .active:hover {
			background: darken($colorGrey, 18%);
		}
		
	.read {
        .title {
            color: darken($colorGrey, 18%);
        }
        .text {
            color: darken($colorGrey, 10%);
        }
        .tag {
            background: transparent;					
            border: 1px solid darken($colorGrey, 10%);
            color: darken($colorGrey, 10%);
        }
    }

	.active-read {
        .title {
            color: darken($colorGrey, 43%);
        }
        .text {
            color: darken($colorGrey, 35%);
        }
        .tag {
            background: transparent;
            border: 1px solid darken($colorGrey, 35%);
            color: darken($colorGrey, 35%);
        }
    }

#end-of-stream {
	height: 100%;
	text-align: center;	
	color: darken($colorGrey, 10%);
	white-space: normal;
	width: inherit;
	font-size: 1em;
	cursor: default;
	overflow: hidden;
}
		
    #end-of-stream:hover {
        background: $colorBackground;
    }

    #end-of-stream #wrapper:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
            
    #end-of-stream #wrapper {
        position: relative;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin: 0px 35px 0px 0px;
        width: 100%;
    }
            
    #end-of-stream #wrapper div {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        line-height: 140%;
        width: 95%;
    }