//Article Card

@import 'colors.scss';
@import 'material-shadow.scss';

$header-height:     1.25em;
$title-line-height: 1.5em;
$text-line-height:  1em;
$text-lines:        2;
$tag-line-height:   .938em;

$card-padding:      .625em;
$card-spacing:      .313em;

$height:    $header-height +
            $title-line-height +
            ($text-line-height * $text-lines) +
            $tag-line-height +
            ($card-spacing * 2) +
            ($card-padding * 2);



.stream.card {

    @include material-shadow(1);
    
    min-height: $height;
    max-height: $height;
    height: $height;

    padding: $card-padding;
    margin: 0;
            
    width: 100%;
    border-bottom: 	1px solid $color-grey;
    overflow: hidden;
    position: relative;
    background: $color-card-background;

    display: block;

    transition: all .25s ease-in-out !important;
    transition: margin .25s ease-in-out;
}

    .card-header {
        height: $header-height;
    }

        .stream.card .subject {
            color: $color-grey;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            font-size: .75em;
        }

    .stream.card:hover {
        @include material-shadow(2);
        background: darken($color-card-background, 5%);

        z-index: 98;
        cursor: pointer;
    }			

        .stream.card:hover .card-btn {
            visibility: visible;
        }

    .stream.card .title{					
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        font-size: 1.25em;
        line-height: 1.5em;
    }

    .stream.card .text{
        overflow: hidden;
        white-space: normal;

        min-height: $text-line-height * 2;
        height: $text-line-height * 2;		

        font-size: .875em;
        line-height: $text-line-height;
    }
    
    .stream.card .tag {
        font-size: .75em;
        line-height: $tag-line-height;
        font-style: italic;

        display: inline-block;
        width: auto;
        margin-right: 5px;
        border: none;
    }
        
        .stream.card #tag-wrapper {
            width: 70%;
            margin: $card-spacing 0 0 0;
            height: $tag-line-height  + .5 em;
            white-space: nowrap;
            overflow-x: hidden;
            float: left;
        }

        .stream.card #tag-wrapper-action {
            width: 33%;
            float: left;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            background: inherit;
        }

            .stream.card #tag-wrapper-action .action {
                background: none;
                border: none;
                float: left;
                margin-right: 5px;
                clear: none;
                color: $color-primary;
            }    
            
        .stream.card #icon {
            float: left;
        }

    .stream.card #date {
        width: 30%;
        margin: $card-spacing 0 0 0;
        height: $tag-line-height + .5 em;
        white-space: nowrap;
        overflow: hidden;
        float: right;
    }
        
    .stream.card .card-btn{
        visibility: hidden;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1em;
        
        opacity: .4;
        filter: alpha(opacity=40); // For IE8 and earlier */
    }

        .stream.card .card-btn:hover{
            opacity: 1;
            filter: alpha(opacity=100); // For IE8 and earlier */
            transition: opacity .2s ease-in-out;
        }

    .card.active {
        @include material-shadow(3);
        background: darken($color-card-background, 15%);
        transition: margin .25s ease-in-out;
        margin: 10px -5px 10px -5px;
        width: auto;
        z-index: 99;
    }		
        .card.active:hover {
            background: darken($color-card-background, 20%);
            transition: margin .25s ease-in-out;
        }

    .card.active .tag {
        color: $color-font;
    }
        
    .read {
        .title {
            color: $color-grey;
        }
        .text {
            color: $color-grey;
        }
        .tag {
            background: transparent;
            color: $color-grey;
        }
    }

    .active-read {
        .title {
            color: darken($color-grey, 30%);
        }
        .text {
            color: darken($color-grey, 30%);
        }
        .tag {
            color: darken($color-grey, 30%);
        }
        .subject {
            color: darken($color-grey, 30%);
        }
    }

.card.ng-hide:not(.ng-hide-animate) {
  display: block !important;
  transition: all .25s ease-in-out !important;
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  padding: 0 !important;
  border: none;
}
