		
$dark: false;

//*Light*/

    $color-primary: 				#009688             !default;
    $color-primary-500: 			#009688             !default;
    $color-primary-700:             rgba(0,121,107,1)   !default;
    $color-primary-contrast: 		#fff                !default;
            
    $color-accent:			        #ff5252             !default;
    $color-accent-contrast:	        #fff                !default;

    $color-font:					    #212121             !default;
    $color-grey: 				    #bdbdbd             !default;
    $color-background:			    #f2f2f2             !default;
    $color-card-background:         #fff                !default;

		
//*Dark*/
@if $dark == true {
	$color-primary: 				#999;
	$color-primary-contrast: 		#444;
		
	$color-accent:			        #aaa;
	$color-accent-contrast:	        #444;

	$color-font:					#aaa;
	$color-grey:				    #888;
	$color-background:			    #222;
}
