@import 'colors';
@import 'material-shadow.scss';

$filter-header-height: 24px;

.category-wrapper {
    display: inline-block;
    width: 100%;
    overflow: visible;
    clear: both;
}
    
.category-wrapper .dropdown {
    width: 45% !important;
    min-width: 200px !important;
    margin: 0 10px 10px 0 !important;
    clear: none !important;
    float: left !important;
}

.accordion-wrapper {
    
    @include material-shadow(3);

    position: absolute;
    z-index: 100;
    width: auto;
    top: 0;
    left: 10px;
    right: 10px;

    .panel-group {
        margin-bottom: 0;
    }

    .panel {
        box-shadow: none;
    }

    .panel-default {
        border: none !important;
        border-radius: 0 !important;
    }
    .panel-heading {
        background: #757575 !important;
        height: $filter-header-height !important;
        padding: 0 !important;
        border-radius: 0 !important;
        z-index: 99;
    }
        .panel-open .panel-heading {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 0 0 2px 2px;
        }
    .panel-title {
        color: #fff !important;
        text-align: center !important;
        font-size: 14px !important;
        padding: 5px 0;
    }
        .panel-title a {
            color: #fff;
        }

    .panel-body {
        max-height: 40vh;
        overflow-y: scroll;
        padding: 15px 15px (15px + $filter-header-height) 15px;
    }
    
}
