/*Links*/

@import "colors.scss";

a:link {
	text-decoration: none;
	color: $colorSecondary;
}
		
a:hover {
	text-decoration: underline;
	color: darken($colorSecondary, 10%);
}
		
a:active {
	outline: 0;
	outline: none;
}
		
a:visited {
	outline: 0;
	outline: none;
	color: $colorPrimary;
}
		
a:focus {
	outline: 0;
	outline: none;
	text-decoration: underline;	
}