/*Links*/

a:link {
	text-decoration: none;
}
		
a:hover {
	text-decoration: underline;
}
		
a:active {
	outline: 0;
	outline: none;
}
		
a:visited {
	outline: 0;
	outline: none;
}
		
a:visited {
	outline: 0;
	outline: none;
}	
		
a:focus {
	outline: 0;
	outline: none;
	text-decoration: underline;	
}