.ico-text-1 {
	display: inline;
}
.ico-text-2 {
	display: inline;
}
.ico-text-3 {
	display: inline;
}

@media screen and (max-width: 1300px)
{
	.ico-text-1 {
		display: none;
		visibility: hidden;
	}
}

@media screen and (max-width: 1100px)
{
	.ico-text-2 {
		display: none;
		visibility: hidden;
	}
}

@media screen and (max-width: 900px)
{
	.ico-text-3 {
		display: none;
		visibility: hidden;
	}
	.toolbox-books {
		width: 50px;
		.special-title {
			display: none;
			visibility: hidden;
		}
	}
	.panel-title {
		text-align: center;
	}
}