@import "colors.scss";
@import "material-shadow.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    
    font-size: 100%;
    font-family: 'SourceSansPro', sans-serif;
    
    background-color: $color-background;
}

$tbPadding: 24px;
$lrPadding: 24px;

.card {	
    
    margin-top: 20vh;
    height: auto;

    padding: $tbPadding $lrPadding;

    border-radius: 2px;
    /*border: 1px solid $color-grey;*/
    background: $color-card-background;
    //box-shadow: 0 0px 2px rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    @include material-shadow(1);
}

.card .primary-title {
    font-size: 24px;
    padding-bottom: 16px;
}

.card .supporting-text {
    font-size: 14px;
    padding-bottom: 16px;
}

.card .action-area {
    height: 52px;
    margin: 0 (-$lrPadding) (-$tbPadding) (-$lrPadding);
}

.card .card-action {
    height: 36px;
    margin: 8px;
    font-size: 14px;
    padding: 11px 16px;
    background: transparent;
    border: none;
    border-radius: 2px !important;
    float: right;
    font-weight: 500;
    text-decoration: none;
}
.card .card-action:hover {
    cursor: pointer;
}

.card .default {
    color: $color-font;
}

.card .default:hover {
    background: rgba($color-font, .12);
}

.card .primary {
    color: $color-primary;
}

.card .primary:hover {
    background: rgba($color-primary, .12);
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .card {
        width: 80vw;
        margin-left: 10vw;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .card {	
        width: 60vw;
        margin-left: 20vw;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .card {	
        width: 50vw;
        margin-left: 25vw;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .card {	
        width: 30vw;
        margin-left: 35vw;
    }
}

/* Wide Screens, HD */
@media only screen and (min-width : 1600px) {
    .card {	
        width: 20vw;
        margin-left: 40vw;
    }
}