@charset 'utf-8';
/* CSS Document */

@import 'fonts';
@import 'colors';
@import 'links';
@import 'layout';
@import 'stream';
@import 'filter';
@import 'card';
@import 'viewer';
@import 'comments';
@import 'bootstrap-customization';
@import 'media.scss';
@import 'book-selector';
@import 'fab';

* {
/*	border-radius: 2px !important;*/
}

.title {
    color: $color-font;
}
        
.text {
    color: $color-font;
}

.tag {
    color: $color-grey;
    font-family: 'Montserrat', sans-serif;
}
         
    #action {
            float: left;
            padding-top: .1em;
    }

.pointer-on-hover:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 2px;  /* remove scrollbar space */
    /*background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in accent color */
::-webkit-scrollbar-thumb {
    background: $color-accent;
}
