@charset "utf-8";
/* CSS Document */

@import "fonts";
@import "colors";
@import "links";
@import "layout";
@import "stream";
@import "filter";
@import "card";
@import "viewer";
@import "comments";
@import "bootstrap-customization";
@import "media.scss";

.title {
	color: $colorPrimary;
}
		
.text {
	color: $colorFont;
}

.tag {
	font-size: 	1em;
	font-family: 'Montserrat', sans-serif;
	
	height: 1.8em;
	line-height: 1.8em;
	
	display: inline-block;
	width: auto;
	padding: 0 0.5em;
	margin-right: 5px;
	margin-top: 0.3em;
	background: $colorSecondary;
	color: $colorSecondaryContrast;
	border-radius: 5px;
}
		 
	#action {
			float: left;
			padding-top: .1em;
	}

.pointer-on-hover:hover {
	cursor: pointer;
}