/*Article View*/

@import "colors.scss";

.article-view {
			
	position: absolute;
	top: 10px;
	left: 20px;
	right: 20px;
	bottom: 70px;
	max-height: inherit;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 15px 0 15px;

	border-radius: 2px;
	/*border: 1px solid $colorGrey;*/
	background: $colorCardBackground;
	box-shadow: 0 0px 2px rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
}

.btn-edit  {
	visibility: visible;
	color: $colorFont;	
	background-color: $colorBackground;
	font-family: 'SourceSansPro', sans-serif;
	clear: both;
}
.btn-edit:hover {
	background-color: lighten($colorGrey, 8%);
}

.article-view .text.edit-field {
	padding: 0 1vw;
	height: 50vh;
}

.article-view #title-wrapper {
	position: relative;
	padding: 0;
}


.article-view .title {
	padding: 0;
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;	
}

.article-view #title-wrapper .edit-field {
	line-height: 1.813em;
	height: 6em;
}

.article-view #image-wrapper {
	display: inline-block;
	padding: 0;
	width: 100%;
	max-height: 50vh;
	display: block;
	margin: 14px 0 0 0;
	justify-content: center;
	text-align: center;
	clear: both;

	#nav-right {
		float: right;
	}
	#nav-left {
		float: left;
	}
}
		
    .article-view #image-wrapper::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
		
.article-view #image-wrapper.nav-arrow{
	display: inline-block;
	vertical-align: middle;
	max-width: 10%;
	font-size: 5vw;
	height: auto;
	color: $colorFont;
	z-index: 100;
}
	.article-view #image-wrapper .nav-arrow:hover{
		cursor: pointer;
		color: darken($colorFont, 10%);	
	}

.article-view #image-wrapper .greyout {
	visibility: hidden;
}
		
.article-view .article-image {
	display: inline-block;
	margin: auto;
	justify-content: center;
	text-align: center;
}
		
.article-view .article-image .image{
	width: 100%;
	max-height: 50vh;
	vertical-align: middle;
}
		
.article-view .text-wrapper {
    display: inline-block;
	width: 100%;
}

.article-view .text {
	padding: 30px 3em;
	display: block;
	font-size: 1.125em;
	line-height: 1.125em;
	clear: both;
	white-space: pre-line;
}

.article-view .edit-field {
	padding: 0 1vw;
	width: 50vw;
}
   
.article-view  .editable-buttons {
	float: right;
	margin: 5px 0 75px 0;
}

.toolbox {
	position: absolute;
	bottom: -10px;
	left: 20px;
	right: 20px;
	height: 50px;

	.container-fluid {
		padding: 0;

		.navbar-info {
			padding: 0;
		}
		.navbar-right {
			margin-right: 0;
		}
	}
}