
<div class="material-modal">
    <div class="primary-title">
        Add a Book
    </div>
    <form class="material-form form-group" ng-submit="addBook(name)">
        <div class="row">
            <div class="material-input-field">
                <input type="text" id="name" ng-model="name">
                <label for="name" ng-class="{'with-text': name.length > 0}">Name</label>
            </div>
        </div>
    </form>
<!--
    <button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
-->
    <div class="action-area">
        <button type="button" class="material-btn flat primary" ng-class="{'disabled': name.length <= 0}" ng-click="addBook(name)">
            ADD BOOK
        </button>
        <button type="button" class="material-btn flat default" ng-click="cancel()">
            CANCEL
        </button>
    </div>
</div>