<div>
    <div class="pull-left">Date: </div>
    <div class="pull-right">
    	&nbsp;&nbsp;&nbsp;&nbsp;
    	<b>{{formatDate(articles[currentIndex].date)}}</b>
    </div>
    <br>
    
    <div class="pull-left">ID: </div>
    <div class="pull-right">
    	&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{articles[currentIndex].articleLink}}" target="_blank">
        	<b>{{articles[currentIndex].id}}</b></div>
        </a>
    <br>
    
    <div class="pull-left">Topics: </div>
    <div class="pull-right" ng-repeat="topic in articles[currentIndex].topics">
        <b>{{topic}}</b><br />
    </div><br>
</div>