<div class="username-modal">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Enter a Username</h3>
    </div>
    <form>
        <div class="modal-body" id="modal-body">
            <label>Please enter your name:</label>
            <input class="form-control" type="text" placeholder="eg. Jane Doe" ng-model="$ctrl.user.name"/>
            <br />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-enter="$ctrl.ok()" ng-click="$ctrl.ok()">Submit</button>
        </div>
    </form>
</div>