#right .btn.btn-default.dropdown-toggle {
  background-color: #009688;
  color: #fff;
  height: 56px;
  border: none;
  border-radius: 2px 0 0 0;
  font-size: 16px;
  line-height: 19px;
  z-index: 100;
}

#right .dropdown-menu.open {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  position: relative;
  top: -20px;
  left: 28%;
  height: auto;
  max-height: 25vh;
  transition: max-height .25s ease-in-out;
  max-width: 70%;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  z-index: 101;
}
