/*Article Card*/
/*Light*/
/*Dark*/
/* line 16, D:/work/dat/conduit/sass/card.scss */
.card {
  min-height: 7.564em;
  max-height: 7.564em;
  height: 7.564em;
  padding: 0.625em;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  overflow: hidden;
  position: relative;
  background: #fff;
  display: block;
  transition: box-shadow .25 ease-in-out;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  transition: margin .25s ease-in-out;
  margin: 0;
}

/* line 45, D:/work/dat/conduit/sass/card.scss */
.card-header {
  height: 1.25em;
}

/* line 49, D:/work/dat/conduit/sass/card.scss */
.card .subject {
  color: #bdbdbd;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: .75em;
}

/* line 58, D:/work/dat/conduit/sass/card.scss */
.card:hover {
  background: #f2f2f2;
  transition: box-shadow .25s ease-in-out;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  z-index: 98;
  cursor: pointer;
}

/* line 66, D:/work/dat/conduit/sass/card.scss */
.card:hover .card-btn {
  visibility: visible;
}

/* line 70, D:/work/dat/conduit/sass/card.scss */
.card .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.25em;
  line-height: 1.5em;
}

/* line 79, D:/work/dat/conduit/sass/card.scss */
.card .text {
  overflow: hidden;
  white-space: normal;
  min-height: 2em;
  height: 2em;
  font-size: .875em;
  line-height: 1em;
}

/* line 90, D:/work/dat/conduit/sass/card.scss */
.card .tag {
  font-size: .75em;
  line-height: 0.938em;
  font-style: italic;
  display: inline-block;
  width: auto;
  margin-right: 5px;
  border: none;
}

/* line 101, D:/work/dat/conduit/sass/card.scss */
.card #tag-wrapper {
  width: 70%;
  margin: 0.313em 0 0 0;
  height: 0.938em;
  white-space: nowrap;
  overflow: show;
  float: left;
}

/* line 110, D:/work/dat/conduit/sass/card.scss */
.card #tag-wrapper-action {
  width: 33%;
  float: left;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  background: inherit;
}

/* line 119, D:/work/dat/conduit/sass/card.scss */
.card #tag-wrapper-action .action {
  background: none;
  border: none;
  float: left;
  margin-right: 5px;
  clear: none;
  color: #009688;
}

/* line 128, D:/work/dat/conduit/sass/card.scss */
.card #icon {
  float: left;
}

/* line 132, D:/work/dat/conduit/sass/card.scss */
.card .card-btn {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1em;
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
}

/* line 143, D:/work/dat/conduit/sass/card.scss */
.card .card-btn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  transition: opacity .2s ease-in-out;
}

/* line 149, D:/work/dat/conduit/sass/card.scss */
.card.active {
  background: #d9d9d9;
  transition: box-shadow .25s ease-in-out;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.24);
  transition: margin .25s ease-in-out;
  margin: 10px -5px 10px -5px;
  width: auto;
  z-index: 99;
}

/* line 158, D:/work/dat/conduit/sass/card.scss */
.card.active:hover {
  background: #cccccc;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.24);
  transition: margin .25s ease-in-out;
}

/* line 164, D:/work/dat/conduit/sass/card.scss */
.card.active .tag {
  color: #212121;
}

/* line 169, D:/work/dat/conduit/sass/card.scss */
.read .title {
  color: #bdbdbd;
}

/* line 172, D:/work/dat/conduit/sass/card.scss */
.read .text {
  color: #bdbdbd;
}

/* line 175, D:/work/dat/conduit/sass/card.scss */
.read .tag {
  background: transparent;
  color: #bdbdbd;
}

/* line 182, D:/work/dat/conduit/sass/card.scss */
.active-read .title {
  color: #717171;
}

/* line 185, D:/work/dat/conduit/sass/card.scss */
.active-read .text {
  color: #717171;
}

/* line 188, D:/work/dat/conduit/sass/card.scss */
.active-read .tag {
  color: #717171;
}

/* line 191, D:/work/dat/conduit/sass/card.scss */
.active-read .subject {
  color: #717171;
}

/*# sourceMappingURL=../styles/card.map */