/*Article Card*/
/*Light*/
/*Dark*/
/* line 17, D:/work/dat/conduit/sass/card.scss */
.card {
  min-height: 7.564em;
  max-height: 7.564em;
  height: 7.564em;
  padding: 0.625em;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  overflow: hidden;
  position: relative;
  background: #fff;
  display: block;
  transition: all .25s ease-in-out !important;
  transition: box-shadow .25s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: margin .25s ease-in-out;
  margin: 0;
}

/* line 48, D:/work/dat/conduit/sass/card.scss */
.card-header {
  height: 1.25em;
}

/* line 52, D:/work/dat/conduit/sass/card.scss */
.card .subject {
  color: #bdbdbd;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: .75em;
}

/* line 61, D:/work/dat/conduit/sass/card.scss */
.card:hover {
  background: #f2f2f2;
  transition: box-shadow .25s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 98;
  cursor: pointer;
}

/* line 70, D:/work/dat/conduit/sass/card.scss */
.card:hover .card-btn {
  visibility: visible;
}

/* line 74, D:/work/dat/conduit/sass/card.scss */
.card .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.25em;
  line-height: 1.5em;
}

/* line 83, D:/work/dat/conduit/sass/card.scss */
.card .text {
  overflow: hidden;
  white-space: normal;
  min-height: 2em;
  height: 2em;
  font-size: .875em;
  line-height: 1em;
}

/* line 94, D:/work/dat/conduit/sass/card.scss */
.card .tag {
  font-size: .75em;
  line-height: 0.938em;
  font-style: italic;
  display: inline-block;
  width: auto;
  margin-right: 5px;
  border: none;
}

/* line 105, D:/work/dat/conduit/sass/card.scss */
.card #tag-wrapper {
  width: 70%;
  margin: 0.313em 0 0 0;
  height: 1.438em em;
  white-space: nowrap;
  overflow-x: hidden;
  float: left;
}

/* line 114, D:/work/dat/conduit/sass/card.scss */
.card #tag-wrapper-action {
  width: 33%;
  float: left;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  background: inherit;
}

/* line 123, D:/work/dat/conduit/sass/card.scss */
.card #tag-wrapper-action .action {
  background: none;
  border: none;
  float: left;
  margin-right: 5px;
  clear: none;
  color: #009688;
}

/* line 132, D:/work/dat/conduit/sass/card.scss */
.card #icon {
  float: left;
}

/* line 136, D:/work/dat/conduit/sass/card.scss */
.card #date {
  width: 30%;
  margin: 0.313em 0 0 0;
  height: 1.438em em;
  white-space: nowrap;
  overflow: hidden;
  float: right;
}

/* line 145, D:/work/dat/conduit/sass/card.scss */
.card .card-btn {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1em;
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
}

/* line 156, D:/work/dat/conduit/sass/card.scss */
.card .card-btn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  transition: opacity .2s ease-in-out;
}

/* line 162, D:/work/dat/conduit/sass/card.scss */
.card.active {
  background: #d9d9d9;
  transition: box-shadow .25s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: margin .25s ease-in-out;
  margin: 10px -5px 10px -5px;
  width: auto;
  z-index: 99;
}

/* line 172, D:/work/dat/conduit/sass/card.scss */
.card.active:hover {
  background: #cccccc;
  transition: margin .25s ease-in-out;
}

/* line 178, D:/work/dat/conduit/sass/card.scss */
.card.active .tag {
  color: #212121;
}

/* line 183, D:/work/dat/conduit/sass/card.scss */
.read .title {
  color: #bdbdbd;
}

/* line 186, D:/work/dat/conduit/sass/card.scss */
.read .text {
  color: #bdbdbd;
}

/* line 189, D:/work/dat/conduit/sass/card.scss */
.read .tag {
  background: transparent;
  color: #bdbdbd;
}

/* line 196, D:/work/dat/conduit/sass/card.scss */
.active-read .title {
  color: #717171;
}

/* line 199, D:/work/dat/conduit/sass/card.scss */
.active-read .text {
  color: #717171;
}

/* line 202, D:/work/dat/conduit/sass/card.scss */
.active-read .tag {
  color: #717171;
}

/* line 205, D:/work/dat/conduit/sass/card.scss */
.active-read .subject {
  color: #717171;
}

/* line 210, D:/work/dat/conduit/sass/card.scss */
.card.ng-hide:not(.ng-hide-animate) {
  /* These are just alternative ways of hiding an element */
  display: block !important;
  transition: all .25s ease-in-out !important;
  height: 0px !important;
  max-height: 0px !important;
  min-height: 0px !important;
  padding: 0px !important;
  border: none;
  /*position: absolute;
  top: -9999px;*/
}

/*# sourceMappingURL=../styles/card.map */