/* line 13, /Users/scott/Documents/work/conduit/sass/layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, /Users/scott/Documents/work/conduit/sass/layout.scss */
html {
  font-size: 100% !important;
  font-family: 'SourceSansPro', sans-serif !important;
}

/* line 24, /Users/scott/Documents/work/conduit/sass/layout.scss */
body {
  min-width: 750px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 100%;
  font-family: 'SourceSansPro', sans-serif;
  background-color: #f2f2f2;
}

/* line 42, /Users/scott/Documents/work/conduit/sass/layout.scss */
#container {
  position: fixed;
  padding-left: 25vw;
  padding-right: 20vw;
  height: auto;
  bottom: 0;
  top: 48px;
  background: transparent;
}

/* line 52, /Users/scott/Documents/work/conduit/sass/layout.scss */
#container .column {
  position: relative;
  float: left;
  height: 100%;
  background: inherit;
}

/* line 59, /Users/scott/Documents/work/conduit/sass/layout.scss */
#center {
  padding: 0;
  width: 55vw;
  background: #f2f2f2;
  float: left;
}

/* line 66, /Users/scott/Documents/work/conduit/sass/layout.scss */
#left {
  width: 25vw;
  padding: 0;
  right: 25vw;
  margin-left: -100%;
  max-height: 100%;
  background: #f2f2f2;
  display: inline-block;
}

/* line 77, /Users/scott/Documents/work/conduit/sass/layout.scss */
#right {
  width: 20vw;
  padding: 0;
  margin-right: -20vw;
  background: #f2f2f2;
  float: left;
  margin-left: 0;
  max-height: 100%;
  overflow-x: visible;
}

/* line 88, /Users/scott/Documents/work/conduit/sass/layout.scss */
#header {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  float: left;
  width: 100%;
  height: 48px;
  padding: 5px;
  background: #009688;
  color: #fff;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

/* line 106, /Users/scott/Documents/work/conduit/sass/layout.scss */
#header-content-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-right: -0.25em;
}

/* line 114, /Users/scott/Documents/work/conduit/sass/layout.scss */
#header-content-wrapper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* line 122, /Users/scott/Documents/work/conduit/sass/layout.scss */
#header-content {
  display: inline-block;
  vertical-align: middle;
}

/* line 127, /Users/scott/Documents/work/conduit/sass/layout.scss */
* html #left {
  left: 390px;
}

/* line 131, /Users/scott/Documents/work/conduit/sass/layout.scss */
#menu .caret {
  visibility: hidden;
}

/* line 135, /Users/scott/Documents/work/conduit/sass/layout.scss */
#menu .special-title {
  visibility: hidden;
}

/* line 139, /Users/scott/Documents/work/conduit/sass/layout.scss */
#menu .btn.btn-default.dropdown-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: '\e236';
  margin-left: -.25em;
  position: absolute;
  left: 14px;
  font-size: 24px;
  top: 3px;
}

/* line 150, /Users/scott/Documents/work/conduit/sass/layout.scss */
#menu .btn.btn-default.dropdown-toggle {
  position: absolute;
  left: 10px;
  z-index: 100;
  background-color: #009688;
  width: 38px;
  height: 38px;
  padding: 0;
  font-size: 1em;
  color: #fff;
  text-align: center;
  border: none;
}

/* line 164, /Users/scott/Documents/work/conduit/sass/layout.scss */
#menu .btn.btn-default.dropdown-toggle:hover {
  cursor: pointer;
  background-color: #007d71;
}

/* line 171, /Users/scott/Documents/work/conduit/sass/layout.scss */
#menu .btn.btn-default.dropdown-toggle:active,
#menu .btn.btn-default.dropdown-toggle:focus {
  cursor: pointer;
  background-color: #00635a;
}

/* line 177, /Users/scott/Documents/work/conduit/sass/layout.scss */
#menu .dropdown-menu.open {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  position: relative;
  top: 30px;
  left: 15%;
  height: auto;
  width: 120%;
  max-height: 25vh;
  transition: max-height .25s ease-in-out;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  z-index: 101;
}

/* line 193, /Users/scott/Documents/work/conduit/sass/layout.scss */
#menu .dropdown-menu > li > div {
  padding: 3px 20px;
  color: #bdbdbd;
}

/* line 198, /Users/scott/Documents/work/conduit/sass/layout.scss */
#header-content-wrapper .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  width: auto;
  position: absolute;
  left: 0;
  background-color: transparent;
}

/* line 207, /Users/scott/Documents/work/conduit/sass/layout.scss */
#righoverflow-menut .nya-bs-select.btn-group .dropdown-menu {
  width: 100% !important;
  min-width: initial !important;
}

/*# sourceMappingURL=../styles/layout.map */