/*Links*/
a:link {
  text-decoration: none;
  color: #ff5252;
}

a:hover {
  text-decoration: underline;
  color: #ff1f1f;
}

a:active {
  outline: 0;
  outline: none;
}

a:visited {
  outline: 0;
  outline: none;
  color: #009688;
}

a:focus {
  outline: 0;
  outline: none;
  text-decoration: underline;
}
