.material-btn.flat {
  outline: none;
  height: 36px;
  margin: 8px 8px 8px 0;
  font-size: 14px;
  padding: 9px 16px;
  background: transparent;
  border: none;
  border-radius: 2px !important;
  float: right;
  font-weight: 500;
  text-decoration: none;
}

.material-btn.flat:hover {
  cursor: pointer;
}

.material-btn.flat.primary {
  color: #009688;
}

.material-btn.flat.primary:hover,
.material-btn.flat.primary:focus {
  background: rgba(0, 150, 136, 0.12);
}

.material-btn.flat.primary:active {
  background: rgba(0, 150, 136, 0.4);
}

.material-btn.flat.default {
  color: #212121;
}

.material-btn.flat.default:hover,
.material-btn.flat.default:focus {
  background: rgba(33, 33, 33, 0.12);
}

.material-btn.flat.default:active {
  background: rgba(33, 33, 33, 0.4);
}

.material-btn.flat.disabled {
  color: rgba(33, 33, 33, 0.26);
}

.material-btn.flat.disabled:hover,
.material-btn.flat.disabled:focus {
  background: transparent;
  cursor: auto;
}

.material-btn.flat.disabled:active {
  background: transparent;
}
