* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.material {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 100%;
  font-family: 'SourceSansPro', sans-serif;
  background-color: #f2f2f2;
}

.material.card {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow .25s ease-in-out;
  margin-top: 20vh;
  height: auto;
  padding: 24px 24px;
  border-radius: 2px;
  background: #fff;
}

.material.card .primary-title {
  font-size: 24px;
  padding-bottom: 16px;
}

.material.card .supporting-text {
  font-size: 14px;
  padding-bottom: 16px;
}

.material.card .action-area {
  height: 52px;
  margin: 0 -24px -24px -24px;
}

.material.card .card-action {
  height: 36px;
  margin: 8px;
  font-size: 14px;
  padding: 11px 16px;
  background: transparent;
  border: none;
  border-radius: 2px !important;
  float: right;
  font-weight: 500;
  text-decoration: none;
}

.material.card .card-action:hover {
  cursor: pointer;
}

.material.card .default {
  color: #212121;
}

.material.card .default:hover {
  background: rgba(33, 33, 33, 0.12);
}

.material.card .primary {
  color: #009688;
}

.material.card .primary:hover {
  background: rgba(0, 150, 136, 0.12);
}

@media only screen and (min-width: 480px) {
  .material.card {
    width: 80vw;
    margin-left: 10vw;
  }
}

@media only screen and (min-width: 768px) {
  .material.card {
    width: 60vw;
    margin-left: 20vw;
  }
}

@media only screen and (min-width: 992px) {
  .material.card {
    width: 50vw;
    margin-left: 25vw;
  }
}

@media only screen and (min-width: 1200px) {
  .material.card {
    width: 30vw;
    margin-left: 35vw;
  }
}

@media only screen and (min-width: 1600px) {
  .material.card {
    width: 20vw;
    margin-left: 40vw;
  }
}
