/* line 4, /Users/scott/Documents/work/conduit/sass/material-card.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, /Users/scott/Documents/work/conduit/sass/material-card.scss */
body.material {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 100%;
  font-family: 'SourceSansPro', sans-serif;
  background-color: #f2f2f2;
}

/* line 29, /Users/scott/Documents/work/conduit/sass/material-card.scss */
.material.card {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow .25s ease-in-out;
  margin-top: 20vh;
  height: auto;
  padding: 24px 24px;
  border-radius: 2px;
  background: #fff;
}

/* line 42, /Users/scott/Documents/work/conduit/sass/material-card.scss */
.material.card .primary-title {
  font-size: 24px;
  padding-bottom: 16px;
}

/* line 47, /Users/scott/Documents/work/conduit/sass/material-card.scss */
.material.card .supporting-text {
  font-size: 14px;
  padding-bottom: 16px;
}

/* line 52, /Users/scott/Documents/work/conduit/sass/material-card.scss */
.material.card .action-area {
  height: 52px;
  margin: 0 -24px -24px -24px;
}

/*
.material.card .card-action {
    height: 36px;
    margin: 8px;
    font-size: 14px;
    padding: 9px 16px;
    background: transparent;
    border: none;
    border-radius: 2px !important;
    float: right;
    font-weight: 500;
    text-decoration: none;
}
.material.card .card-action:hover {
    cursor: pointer;
}

.material.card .default {
    color: $color-font;
}

.material.card .default:hover {
    background: rgba($color-font, .12);
}

.material.card .primary {
    color: $color-primary;
}

.material.card .primary:hover {
    background: rgba($color-primary, .12);
}*/
@media only screen and (min-width: 480px) {
  /* line 92, /Users/scott/Documents/work/conduit/sass/material-card.scss */
  .material.card {
    width: 80vw;
    margin-left: 10vw;
  }
}

@media only screen and (min-width: 768px) {
  /* line 100, /Users/scott/Documents/work/conduit/sass/material-card.scss */
  .material.card {
    width: 60vw;
    margin-left: 20vw;
  }
}

@media only screen and (min-width: 992px) {
  /* line 108, /Users/scott/Documents/work/conduit/sass/material-card.scss */
  .material.card {
    width: 50vw;
    margin-left: 25vw;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 116, /Users/scott/Documents/work/conduit/sass/material-card.scss */
  .material.card {
    width: 30vw;
    margin-left: 35vw;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 124, /Users/scott/Documents/work/conduit/sass/material-card.scss */
  .material.card {
    width: 20vw;
    margin-left: 40vw;
  }
}

/*# sourceMappingURL=../styles/material-card.map */