/* line 15, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form .dropdown-toggle {
  width: 100%;
  text-align: left;
}

/* line 20, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form .dropdown-toggle .caret {
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}

/* line 27, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form .dropdown-toggle.btn {
  border-radius: 0;
  border-bottom: 1px solid #bdbdbd;
  font-size: 16px;
  color: #bdbdbd;
  padding-left: 0;
  padding-right: 0;
}

/* line 38, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form .dropdown-toggle.btn:active,
.material-form .dropdown-toggle.btn:focus {
  border-bottom: 2px solid #009688;
}

/* line 45, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form .dropdown {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  position: absolute;
  left: 0;
  right: 0;
}

/* line 53, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form .dropdown .item-selected {
  color: #212121;
}

/* line 57, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form .dropdown label {
  visibility: hidden;
  height: 12px;
  font-size: 12px;
  position: absolute;
  top: 0;
  transition: all .25s ease-in-out;
}

/* line 70, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form .dropdown-menu {
  right: -4px;
  left: -4px;
  top: 0;
  border-radius: 2px;
}

/* line 77, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form .btn,
.material-form .btn:active,
.material-form .btn:hover,
.material-form .btn:focus,
.material-form .btn-primary,
.material-form .btn-primary:active,
.material-form .btn-primary:hover,
.material-form .btn-primary:focus,
.material-form .btn-primary:active:hover,
.material-form .btn-primary:active.focus,
.material-form .open > .dropdown-toggle.btn-primary,
.material-form .open > .dropdown-toggle.btn-primary:hover,
.material-form .open > .dropdown-toggle.btn-primary:focus {
  background: transparent;
  color: #212121;
  border: none;
  box-shadow: none;
  font-size: 16px;
  height: 28px;
  margin: 0 0 8px 0;
  padding: 0 0 12px 0;
}

/* line 103, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form.form-group input {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  font-size: 16px;
  height: 24px;
  margin: 0 0 8px 0;
  padding: 0 0 8px 0;
  width: 100%;
}

/* line 119, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form.form-group .material-input-field {
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 8px;
  position: relative;
  padding-top: 24px;
  height: 64px;
}

/* line 129, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form.form-group .material-input-field input:active,
.material-form.form-group .material-input-field input:focus {
  padding: 0 0 7px 0;
  border-bottom: 2px solid #009688;
}

/* line 136, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-input-field label {
  position: absolute;
  left: 0;
  top: 24px;
  font-size: 16px;
  font-weight: normal;
  color: #bdbdbd;
  transition: all .25s ease-in-out;
  pointer-events: none;
}

/* line 149, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-input-field label.with-text,
.dropdown-label,
.dropdown-label.with-text {
  height: 12px;
  font-size: 12px;
  position: absolute;
  top: 0;
  transition: all .25s ease-in-out;
}

/* line 161, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.dropdown-label {
  visibility: hidden;
}

/* line 165, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.dropdown-label.with-text {
  visibility: visible;
}

/* line 169, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-input-field input:active + label,
.material-input-field input:focus + label,
.material-input-field button:active + label,
.material-input-field button:focus + label,
.material-form .dropdown-toggle.btn:active + label,
.material-form .dropdown-toggle.btn:focus + label,
.material-form .dropdown.open + label {
  color: #009688;
  height: 12px;
  font-size: 12px;
  position: absolute;
  top: 0;
  transition: all .25s ease-in-out;
}

/* line 186, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form label.hide {
  opacity: 0;
  transition: opacity .25s linear;
}

/* line 191, /Users/scott/Documents/work/conduit/sass/material-form.scss */
.material-form label.fade-in {
  opacity: 1;
  transition: opacity .25s linear;
}

/* line 196, /Users/scott/Documents/work/conduit/sass/material-form.scss */
label.active {
  color: #009688;
}

/*# sourceMappingURL=../styles/material-form.map */