* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-content {
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: box-shadow .25s ease-in-out;
  margin-top: 15vh;
  padding: 24px 24px;
  border-radius: 2px;
  background: #fff;
}

.material-modal .primary-title {
  font-size: 24px;
  padding-bottom: 16px;
}

.material-modal .supporting-text {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 16px;
}

.material-modal .action-area {
  height: 52px;
  margin: 0 -24px -24px -24px;
}

.divider.full-bleed {
  left: 0;
  right: 0;
  height: 1px;
  background-color: #bdbdbd;
}

.divider.inset {
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.12);
}

.material-modal .expand-area {
  padding-top: 16px;
}
