/*Light*/
/*Dark*/
/* line 3, D:/work/dat/conduit/sass/stream.scss */
.stream {
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 12px;
  margin-top: 0px;
  padding: 0 8px 100px 10px;
  height: auto;
  max-height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  display: inline-block;
  background: transparent;
}

/* line 19, D:/work/dat/conduit/sass/stream.scss */
.stream .card:last-child {
  border-radius: 0 0 2px 2px;
}

/* line 25, D:/work/dat/conduit/sass/stream.scss */
#article-stream {
  top: 0px;
}

/*Buttons at bottom of a stream*/
/* line 33, D:/work/dat/conduit/sass/stream.scss */
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* line 38, D:/work/dat/conduit/sass/stream.scss */
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* line 44, D:/work/dat/conduit/sass/stream.scss */
.stream-action {
  width: 100%;
  position: absolute;
  height: 72px;
  top: 10px;
  left: 10px;
  right: 10px;
  border: none;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
  background-color: #009688;
}

/* line 57, D:/work/dat/conduit/sass/stream.scss */
.stream-action .btn-primary {
  border: none;
  border-bottom: 2px solid #009688;
  color: rgba(255, 255, 255, 0.7);
  border-radius: none;
  box-shadow: none;
}

/* line 65, D:/work/dat/conduit/sass/stream.scss */
.stream-action .btn-primary:active,
.stream-action .btn-primary.active {
  color: #fff;
}

/* line 70, D:/work/dat/conduit/sass/stream.scss */
.stream-action .btn-primary:active,
.stream-action .btn-primary.active,
.stream-action .btn-primary:focus,
.stream-action .btn-primary.focus,
.stream-action .btn-primary:hover,
.stream-action .btn-primary:active:focus,
.stream-action .btn-primary.active:focus,
.stream-action .btn-primary:active:hover,
.stream-action .btn-primary.active:hover {
  background-color: #009688;
  border-bottom: 2px solid #ff5252;
  box-shadow: none;
}

/* line 85, D:/work/dat/conduit/sass/stream.scss */
.stream-action .btn {
  height: 100%;
}

/*Feed*/
/* line 91, D:/work/dat/conduit/sass/stream.scss */
.fluid-container {
  width: auto;
  position: absolute;
  top: 82px;
  bottom: 0px;
  left: 0px;
  right: -20px;
  padding: 0;
  max-height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
}

/*Book*/
/* line 106, D:/work/dat/conduit/sass/stream.scss */
.book {
  width: auto;
  top: 66px;
  bottom: 0px;
  left: -15px;
  right: 0px;
  float: right;
}

/* line 118, D:/work/dat/conduit/sass/stream.scss */
#book-action-wrapper {
  position: absolute;
  top: 10px;
  left: -5px;
  right: 10px;
  width: auto;
  height: 56px;
  display: inline-block;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
  z-index: 100;
}

/* line 133, D:/work/dat/conduit/sass/stream.scss */
#book-action-wrapper .btn-primary {
  border: none;
  border-bottom: 2px solid #009688;
  box-shadow: none;
}

/* line 139, D:/work/dat/conduit/sass/stream.scss */
#book-action-wrapper .btn-primary:active,
#book-action-wrapper .btn-primary.active,
#book-action-wrapper .btn-primary:focus,
#book-action-wrapper .btn-primary.focus,
#book-action-wrapper .btn-primary:hover,
#book-action-wrapper .btn-primary:active:focus,
#book-action-wrapper .btn-primary.active:focus,
#book-action-wrapper .btn-primary:active:hover,
#book-action-wrapper .btn-primary.active:hover {
  background-color: #009688;
  border-bottom: 2px solid #ff5252;
  box-shadow: none;
}

/* line 153, D:/work/dat/conduit/sass/stream.scss */
#book-action-wrapper .nya-bs-select {
  position: absolute;
  left: 0;
  right: 48px;
  height: 100%;
  width: auto;
  border-radius: 2px 0 0 0;
  border-bottom: 2px solid #009688;
  box-shadow: none;
}

/* line 166, D:/work/dat/conduit/sass/stream.scss */
#book-action-wrapper nya-bs-select:active,
#book-action-wrapper nya-bs-select.active,
#book-action-wrapper nya-bs-select:focus,
#book-action-wrapper nya-bs-select.focus,
#book-action-wrapper nya-bs-select:hover,
#book-action-wrapper nya-bs-select:active:focus,
#book-action-wrapper nya-bs-select.active:focus,
#book-action-wrapper nya-bs-select:active:hover,
#book-action-wrapper nya-bs-select.active:hover {
  background-color: #009688;
  border-bottom: 2px solid #ff5252;
  box-shadow: none;
}

/* line 180, D:/work/dat/conduit/sass/stream.scss */
#book-action-wrapper .stream-action {
  position: absolute;
  width: 48px;
  top: 0 !important;
  right: 0;
  bottom: 0;
  left: auto;
  height: 100%;
  border-radius: 0 2px 0 0;
  box-shadow: none;
}

/*# sourceMappingURL=../styles/stream.map */