/* CSS Document */
/*Fonts*/
@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Regular.ttf") url("../resources/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: local("Montserrat-Light.ttf") url("../resources/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'SourceSansPro';
  src: local("SourceSansPro-Regular.ttf") url("../resources/fonts/sourcesanspro/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'SourceSerifPro';
  src: local("SourceSerifPro-Regular.ttf") url("../resources/fonts/sourceserifpro/SourceSerifPro-Regular.ttf") format("truetype");
}

/*Links*/
/* line 3, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/links.scss */
a:link {
  text-decoration: none;
}

/* line 7, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/links.scss */
a:hover {
  text-decoration: underline;
}

/* line 11, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/links.scss */
a:active {
  outline: 0;
  outline: none;
}

/* line 16, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/links.scss */
a:visited {
  outline: 0;
  outline: none;
}

/* line 21, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/links.scss */
a:visited {
  outline: 0;
  outline: none;
}

/* line 26, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/links.scss */
a:focus {
  outline: 0;
  outline: none;
  text-decoration: underline;
}

/*Layout*/
/* line 11, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/layout.scss */
html {
  font-size: 100% !important;
  font-family: 'SourceSansPro', sans-serif !important;
}

/* line 22, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/layout.scss */
body {
  min-width: 750px;
  /* 2x (LC fullwidth +
                          		CC padding) + RC fullwidth */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-size: 100%;
  font-family: 'SourceSansPro', sans-serif;
  background-color: #fafafa;
}

/* line 40, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/layout.scss */
#container {
  position: fixed;
  padding-left: 25vw;
  /* LC fullwidth */
  padding-right: 20vw;
  /* RC fullwidth + CC padding */
  height: auto;
  bottom: 0px;
  top: 50px;
  background: transparent;
}

/* line 50, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/layout.scss */
#container .column {
  position: relative;
  float: left;
  height: 100%;
  background: inherit;
}

/* line 57, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/layout.scss */
#center {
  padding: 0;
  /* CC padding */
  width: 55vw;
  background: #fff;
  float: left;
}

/* line 64, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/layout.scss */
#left {
  width: 25vw;
  /* LC width */
  padding: 0;
  /* LC padding */
  right: 25vw;
  /* LC fullwidth + CC padding */
  margin-left: -100%;
  max-height: 100%;
  background: #fff;
  display: inline-block;
}

/* line 75, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/layout.scss */
#right {
  width: 20vw;
  /* RC width */
  padding: 0;
  /* RC padding */
  margin-right: -20vw;
  /* RC fullwidth + CC padding */
  background: #fff;
  float: left;
  margin-left: 0px;
  max-height: 100%;
}

/* line 85, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/layout.scss */
#header {
  /*DISPLAY*/
  float: left;
  width: 100%;
  height: 50px;
  padding: 5px;
  /*COLORS*/
  background: #036;
  color: #fff;
  /*FONTS*/
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

/* line 101, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/layout.scss */
#header-content-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-right: -0.25em;
}

/* line 109, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/layout.scss */
#header-content-wrapper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* line 117, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/layout.scss */
#header-content {
  display: inline-block;
  vertical-align: middle;
}

/*** IE Fix ***/
/* line 123, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/layout.scss */
* html #left {
  left: 390px;
  /* RC fullwidth */
}

/*Article Card*/
/* line 7, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.article-card {
  min-height: 6.5em;
  max-height: 6.5em;
  height: 6.5em;
  padding: 5px 0px 5px 10px;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  position: relative;
  background: #fff;
}

/* line 22, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.article-card:hover {
  background: #f1f1f1;
  cursor: pointer;
}

/* line 27, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.article-card:hover .card-btn {
  visibility: visible;
}

/* line 31, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.article-card .title {
  margin: 0px 15px 0px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.25em;
  line-height: 1.15em;
}

/* line 41, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.article-card .text {
  min-height: 2.5em;
  height: 2.5em;
  padding: 0px 0px 10px 0xp;
  margin: 0px 15px 0px 0px;
  overflow: hidden;
  white-space: normal;
  font-size: 1em;
  line-height: 1.25em;
}

/* line 54, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.article-card .tag {
  font-size: .80em;
}

/* line 58, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.article-card #tag-wrapper {
  width: 70%;
  height: auto;
  white-space: nowrap;
  overflow: show;
  float: left;
}

/* line 66, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.article-card .attributes-wrapper {
  background: inherit;
}

/* line 70, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.article-card #tag-wrapper-action {
  display: inline-block;
  width: 30%;
  position: absolute;
  right: 5px;
  bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  background: inherit;
}

/* line 81, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.article-card #tag-wrapper-action .action {
  background: none;
  border: none;
  float: right;
  margin-right: 5px;
  clear: none;
  color: #036;
}

/* line 90, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.article-card #icon {
  float: left;
}

/* line 94, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.article-card .card-btn {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1em;
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
}

/* line 105, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.article-card .card-btn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  transition: opacity .2s ease-in-out;
}

/* line 111, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.active {
  background: #c4c4c4;
}

/* line 115, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.active:hover {
  background: #afafaf;
}

/* line 120, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.read .title {
  color: #afafaf;
}

/* line 123, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.read .text {
  color: #c4c4c4;
}

/* line 126, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.read .tag {
  background: transparent;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
}

/* line 134, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.active-read .title {
  color: #6f6f6f;
}

/* line 137, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.active-read .text {
  color: #848484;
}

/* line 140, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
.active-read .tag {
  background: transparent;
  border: 1px solid #848484;
  color: #848484;
}

/* line 147, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
#end-of-stream {
  height: 100%;
  text-align: center;
  color: #c4c4c4;
  white-space: normal;
  width: inherit;
  font-size: 1em;
  cursor: default;
  overflow: hidden;
}

/* line 158, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
#end-of-stream:hover {
  background: #fff;
}

/* line 162, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
#end-of-stream #wrapper:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

/* line 169, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
#end-of-stream #wrapper {
  position: relative;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 35px 0px 0px;
  width: 100%;
}

/* line 178, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/card.scss */
#end-of-stream #wrapper div {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  line-height: 140%;
  width: 95%;
}

/*Article View*/
/* line 12, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  bottom: 70px;
  max-height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 15px 0 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fff;
}

/* line 28, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.btn-edit {
  display: inline-block;
  visibility: visible;
  border-radius: .2em;
  border: none;
  padding: 5px 10px;
  background-color: #fff;
  text-align: left;
  font-size: 1em;
  font-family: 'SourceSansPro', sans-serif;
  cursor: pointer;
  clear: both;
}

/* line 45, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.btn-edit:hover {
  background-color: #f1f1f1;
}

/* line 49, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view #title-wrapper {
  position: relative;
  left: 10px;
  right: 10px;
  padding: 1.6em 1.6em 0 0;
}

/* line 58, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view .title {
  padding: 0;
  font-size: 2.15em;
  font-family: 'Montserrat', sans-serif;
}

/* line 64, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view #title-wrapper .title-edit {
  padding: 0;
  width: 50vw;
  position: relative;
  left: 0px;
  right: 0px;
  line-height: 1.25em;
  height: 6em;
  vertical-align: middle;
  clear: right;
}

/* line 76, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view #image-wrapper {
  display: inline-block;
  padding: 2vh 0px 3vh 0px;
  max-width: 100%;
  max-height: 75vh;
  display: block;
  margin: 0px 0px 0px 0px;
  justify-content: center;
  text-align: center;
  clear: both;
}

/* line 88, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view #image-wrapper::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

/* line 96, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view #image-wrapper #nav-before {
  display: inline-block;
  vertical-align: middle;
  max-width: 10%;
  height: auto;
}

/* line 103, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view #image-wrapper #nav-before:hover {
  cursor: pointer;
}

/* line 107, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view #image-wrapper .nav-arrow {
  display: inline-block;
  vertical-align: middle;
  max-width: 10%;
  font-size: 5vw;
  height: auto;
}

/* line 114, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view #image-wrapper .nav-arrow:hover {
  cursor: pointer;
}

/* line 118, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view #image-wrapper .greyout {
  visibility: hidden;
}

/* line 122, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view .article-image {
  display: inline-block;
  max-width: 75%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

/* line 130, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view .article-image .image {
  max-width: 100%;
  max-height: 75vh;
  vertical-align: middle;
}

/* line 136, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view .text-wrapper {
  display: inline-block;
  width: 100%;
}

/* line 141, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view .text {
  padding: 1.5vh 0 75px 0;
  display: block;
  font-size: 1.15em;
  line-height: 1.75em;
  clear: both;
  white-space: pre-line;
}

/* line 150, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view .text-edit {
  margin: 1.5vh 0 75px 0;
  padding: 0 1vw;
  width: 50vw;
  height: 50vh;
}

/* line 157, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.article-view .editable-buttons {
  float: right;
  margin: 5px 0 75px 0;
}

/* line 162, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.all-comments-wrapper {
  max-height: 30vh;
  overflow-y: auto;
  margin-bottom: 10px;
}

/* line 167, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.ncomments-wrapper {
  margin: 0 0 -10px 0;
}

/* line 171, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.ncomments-wrapper .self {
  margin-right: 5px;
  text-align: right;
}

/* line 176, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.ncomments-wrapper .info-wrapper .name {
  font-size: 1em;
}

/* line 181, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.ncomments-wrapper .info-wrapper .time-stamp {
  font-size: .75em;
  color: #afafaf;
}

/* line 186, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.toolbox {
  position: absolute;
  bottom: -10px;
  left: 20px;
  right: 20px;
  height: 50px;
}

/*Style*/
/* line 196, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.title {
  /*COLORS*/
  color: #036;
}

/* line 201, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.text {
  /*COLORS*/
  color: #444;
}

/* line 206, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.label {
  font-size: .75em;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 0 0.5em;
  margin-right: 5px;
  margin-top: 0.3em;
  height: 1.8em;
  line-height: 1.8em;
  vertical-align: middle;
}

/* line 219, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.tag {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  height: 1.8em;
  line-height: 1.8em;
  display: inline-block;
  width: auto;
  padding: 0 0.5em;
  margin-right: 5px;
  margin-top: 0.3em;
  background: #036;
  color: #fff;
  border-radius: 5px;
}

/* line 236, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
#action {
  float: left;
  padding-top: .1em;
}

/* line 241, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.pointer-on-hover:hover {
  cursor: pointer;
}

/* line 245, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.stream {
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  top: 0;
  height: auto;
  max-height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fff;
}

/* line 262, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.fluid-container {
  width: 25vw;
  position: absolute;
  top: 10px;
  bottom: 104px;
  left: 10px;
  right: 10px;
  padding: 0;
  max-height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
}

/* line 276, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.category-wrapper {
  display: inline-block;
  width: 100%;
  overflow: show;
  clear: both;
}

/* line 283, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.category-wrapper .dropdown {
  width: 45% !important;
  min-width: 200px !important;
  margin: 0 10px 10px 0 !important;
  clear: none !important;
  float: left !important;
}

/* line 291, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
#stream-footer {
  position: absolute;
  bottom: 70px;
  right: -10px;
  left: 10px;
  background-color: #f9f9f9;
  padding: 5px 0 0 10px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #ddd;
  height: 35px;
}

/* line 303, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
#article-stream {
  border-radius: 4px 4px 0 0;
  border-bottom: none;
}

/* line 308, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.book {
  width: 20vw;
  top: 55px;
  bottom: 70px;
  left: -10px;
  float: right;
}

/* line 316, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
#right .nya-bs-select {
  position: absolute;
  top: 10px;
  left: -10px;
  right: 10px;
}

/* line 324, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.accordion-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
}

/* line 330, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.stream-action {
  width: 100%;
  position: absolute;
  height: 50px;
  left: 10px;
  bottom: 10px;
  right: 10px;
}

/* line 339, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
#right .stream-action {
  left: -10px;
  right: -10px;
}

/* line 344, C:/Users/NGA_XFO/Documents/digital-attack-team/conduit/sass/style.scss */
.stream-action .btn {
  height: 100%;
}

/*# sourceMappingURL=../styles/style.map */