@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Regular.ttf") url("../resources/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: local("Montserrat-Light.ttf") url("../resources/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'SourceSansPro';
  src: local("SourceSansPro-Regular.ttf") url("../resources/fonts/sourcesanspro/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'SourceSerifPro';
  src: local("SourceSerifPro-Regular.ttf") url("../resources/fonts/sourceserifpro/SourceSerifPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Glyphicons-Halflings-Regular';
  src: url("../packages/bootstrap/fonts/glyphicons-halflings-regular.woff2") format("embedded-opentype"), url("../packages/bootstrap/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../packages/bootstrap/fonts/glyphicons-halflings-regular.woff") format("woff"), url("../packages/bootstrap/fonts/glyphicons-halflings-regular.ttf") format("truetype");
}

a:link {
  text-decoration: none;
  color: #ff5252;
}

a:hover {
  text-decoration: underline;
  color: #ff1f1f;
}

a:active {
  outline: 0;
  outline: none;
}

a:visited {
  outline: 0;
  outline: none;
  color: #009688;
}

a:focus {
  outline: 0;
  outline: none;
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100% !important;
  font-family: 'SourceSansPro', sans-serif !important;
}

body {
  min-width: 750px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 100%;
  font-family: 'SourceSansPro', sans-serif;
  background-color: #f2f2f2;
}

.classification {
  height: 20px;
  float: left;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}

.classification.footer {
  position: absolute;
  bottom: 0;
}

.classification.u {
  background-color: #00b400;
  color: #fff;
}

.classification.s {
  background-color: red;
  color: #fff;
}

.classification.ts {
  background-color: yellow;
  color: #000;
}

#container {
  position: fixed;
  padding-left: 25vw;
  padding-right: 20vw;
  height: auto;
  bottom: 20px;
  top: 68px;
  background: transparent;
}

#container .column {
  position: relative;
  float: left;
  height: 100%;
  background: inherit;
}

#center {
  padding: 0;
  width: 55vw;
  background: #f2f2f2;
  float: left;
}

#left {
  width: 25vw;
  padding: 0;
  right: 25vw;
  margin-left: -100%;
  max-height: 100%;
  background: #f2f2f2;
  display: inline-block;
}

#right {
  width: 20vw;
  padding: 0;
  margin-right: -20vw;
  background: #f2f2f2;
  float: left;
  margin-left: 0;
  max-height: 100%;
  overflow-x: visible;
}

#header {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  float: left;
  width: 100%;
  height: 48px;
  padding: 5px;
  background: #009688;
  color: #fff;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

#header-content-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-right: -0.25em;
}

#header-content-wrapper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

#header-content {
  display: inline-block;
  vertical-align: middle;
}

* html #left {
  left: 390px;
}

#header .btn-group.dropdown,
#header .btn-group.dropdown:active,
#header .btn-group.dropdown:focus {
  position: absolute;
  right: 0;
  margin-right: 8px;
  height: 100%;
  font-size: 14px;
  background: transparent;
  border: none;
  box-shadow: none;
}

#header .btn-group.dropdown:hover,
#header .btn-group.dropdown:active,
#header .btn-group.dropdown:focus,
#header .dropdown #profile-dropdown:hover,
#header .dropdown #profile-dropdown:active,
#header .dropdown #profile-dropdown:focus {
  text-decoration: underline;
}

#header .dropdown #profile-dropdown {
  background: transparent;
  border: none;
  box-shadow: none;
  height: 100%;
}

#header .dropdown-menu {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  border-radius: 2px;
  right: 0;
  left: auto;
  min-width: 200px;
  margin-top: -10px;
}

#header .dropdown-menu .disabled {
  padding: 3px 20px;
  color: #bdbdbd;
  cursor: default;
}

.stream {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 0;
  padding: 0 8px 100px 10px;
  height: auto;
  max-height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  display: inline-block;
  background: transparent;
}

.stream .card:last-child {
  border-radius: 0 0 2px 2px;
}

#article-stream {
  top: 0px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.stream-action {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  width: 100%;
  position: absolute;
  height: 72px;
  top: 10px;
  left: 10px;
  right: 10px;
  border: none;
  border-radius: 2px 2px 0 0;
  background-color: #009688;
}

.stream-action .btn-primary {
  border: none;
  border-bottom: 2px solid #009688;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 0;
  box-shadow: none;
}

.stream-action .btn-primary:active,
.stream-action .btn-primary.active {
  color: #fff;
}

.stream-action .btn-primary:active,
.stream-action .btn-primary.active,
.stream-action .btn-primary:focus,
.stream-action .btn-primary.focus,
.stream-action .btn-primary:hover,
.stream-action .btn-primary:active:focus,
.stream-action .btn-primary.active:focus,
.stream-action .btn-primary:active:hover,
.stream-action .btn-primary.active:hover {
  background-color: #009688;
  border-bottom: 2px solid #ff5252;
  box-shadow: none;
}

.stream-action .btn {
  height: 100%;
}

.fluid-container {
  width: auto;
  position: absolute;
  top: 82px;
  bottom: 0;
  left: 0;
  right: -20px;
  padding: 0;
  max-height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
}

.book {
  width: auto;
  top: 90px;
  bottom: 0;
  left: -15px;
  right: 0;
  float: right;
}

.stream-header {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  position: absolute;
  top: 10px;
  left: -5px;
  right: 10px;
  left: 9px;
  right: 24px;
  width: auto;
  height: 80px;
  display: inline-block;
  border-radius: 2px 2px 0 0;
  z-index: 100;
  background-color: transparent;
}

.stream-header .stream-action {
  color: #fff;
  box-shadow: none;
  top: 0;
  bottom: 24px;
  width: auto;
  height: auto;
  border-bottom: 2px solid #009688;
}

.stream-header .stream-action:hover,
.stream-header .stream-action:focus,
.stream-header .stream-action:active,
.stream-header .stream-action.open {
  cursor: pointer;
  border-bottom: 2px solid #ff5252;
}

.stream-header .stream-action.dropdown {
  position: absolute;
  left: 0;
  right: 15%;
  border-radius: 2px 0 0 0;
}

.stream-header .stream-action.dropdown #profile-dropdown {
  position: absolute;
  color: #fff;
  background: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  height: auto;
  width: 100%;
}

.stream-header .stream-action.dropdown #profile-dropdown,
.stream-header .stream-action.dropdown #profile-dropdown:active,
.stream-header .stream-action.dropdown #profile-dropdown:focus,
.stream-header .stream-action.dropdown #profile-dropdown:link {
  box-shadow: none;
}

.stream-header .stream-action.dropdown #profile-dropdown + .dropdown-menu {
  min-width: 80%;
  width: auto;
  max-width: 120%;
}

.stream-header .stream-action.small {
  right: 0;
  left: 85%;
  border-radius: 0 2px 0 0;
}

.stream-header .info-bar {
  background: #757575 !important;
  position: relative;
  top: 56px;
  height: 24px;
  padding: 0 !important;
  border-radius: 0 !important;
  z-index: 99;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

#book-action-wrapper {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  position: absolute;
  top: 10px;
  left: -5px;
  right: 10px;
  width: auto;
  height: 80px;
  display: inline-block;
  border-radius: 2px 2px 0 0;
  z-index: 100;
}

#book-action-wrapper .btn-primary {
  border: none;
  border-bottom: 2px solid #009688;
  box-shadow: none;
}

#book-action-wrapper .btn-primary:active,
#book-action-wrapper .btn-primary.active,
#book-action-wrapper .btn-primary:focus,
#book-action-wrapper .btn-primary.focus,
#book-action-wrapper .btn-primary:hover,
#book-action-wrapper .btn-primary:active:focus,
#book-action-wrapper .btn-primary.active:focus,
#book-action-wrapper .btn-primary:active:hover,
#book-action-wrapper .btn-primary.active:hover {
  background-color: #009688;
  border-bottom: 2px solid #ff5252;
  box-shadow: none;
}

#book-action-wrapper .stream-action {
  position: absolute;
  width: 48px;
  top: 0 !important;
  right: 0;
  bottom: 0;
  left: auto;
  height: 100%;
  border-radius: 0 2px 0 0;
  box-shadow: none;
}

#book-action-wrapper #export-book {
  height: 56px;
}

.category-wrapper {
  display: inline-block;
  width: 100%;
  overflow: visible;
  clear: both;
}

.category-wrapper .dropdown {
  min-width: 200px !important;
  margin: 0 10px 10px 0 !important;
  clear: none !important;
  float: left !important;
}

.category-wrapper .dropdown .dropdown-menu {
  width: 85%;
}

.accordion-wrapper {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  position: absolute;
  z-index: 100;
  width: auto;
  top: 0;
  left: 10px;
  right: 10px;
}

.accordion-wrapper .panel-group {
  margin-bottom: 0;
}

.accordion-wrapper .panel {
  box-shadow: none;
}

.accordion-wrapper .panel-default {
  border: none !important;
  border-radius: 0 !important;
}

.accordion-wrapper .panel-heading {
  background: #757575 !important;
  height: 24px !important;
  padding: 0 !important;
  border-radius: 0 !important;
  z-index: 99;
}

.accordion-wrapper .panel-open .panel-heading {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 2px 2px;
}

.accordion-wrapper .panel-title {
  color: #fff !important;
  text-align: center !important;
  font-size: 14px !important;
  padding: 5px 0;
}

.accordion-wrapper .panel-title a {
  color: #fff;
}

.accordion-wrapper .panel-body {
  max-height: 40vh;
  overflow-y: scroll;
  padding: 15px 15px 39px 15px;
}

.stream.card {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow .25s ease-in-out;
  min-height: 7.564em;
  max-height: 7.564em;
  height: 7.564em;
  padding: 0.625em;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  overflow: hidden;
  position: relative;
  background: #fff;
  display: block;
  transition: all .25s ease-in-out !important;
  transition: margin .25s ease-in-out;
}

.card-header {
  height: 1.25em;
}

.stream.card .subject {
  color: #bdbdbd;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: .75em;
}

.stream.card:hover {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  background: #f2f2f2;
  z-index: 98;
  cursor: pointer;
}

.stream.card:hover .card-btn {
  visibility: visible;
}

.stream.card .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.25em;
  line-height: 1.5em;
}

.stream.card .text {
  overflow: hidden;
  white-space: normal;
  min-height: 2em;
  height: 2em;
  font-size: .875em;
  line-height: 1em;
}

.stream.card .tag {
  font-size: .75em;
  line-height: 0.938em;
  font-style: italic;
  display: inline-block;
  width: auto;
  margin-right: 5px;
  border: none;
}

.stream.card #tag-wrapper {
  width: 70%;
  margin: 0.313em 0 0 0;
  height: 1.438em em;
  white-space: nowrap;
  overflow-x: hidden;
  float: left;
}

.stream.card #tag-wrapper-action {
  width: 33%;
  float: left;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  background: inherit;
}

.stream.card #tag-wrapper-action .action {
  background: none;
  border: none;
  float: left;
  margin-right: 5px;
  clear: none;
  color: #009688;
}

.stream.card #icon {
  float: left;
}

.stream.card #date {
  width: 30%;
  margin: 0.313em 0 0 0;
  height: 1.438em em;
  white-space: nowrap;
  overflow: hidden;
  float: right;
}

.stream.card .card-btn {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1em;
  opacity: .4;
  filter: alpha(opacity=40);
}

.stream.card .card-btn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: opacity .2s ease-in-out;
}

.card.active {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  background: #d9d9d9;
  transition: margin .25s ease-in-out;
  margin: 10px -5px 10px -5px;
  width: auto;
  z-index: 99;
}

.card.active:hover {
  background: #cccccc;
  transition: margin .25s ease-in-out;
}

.card.active .tag {
  color: #212121;
}

.read .title {
  color: #bdbdbd;
}

.read .text {
  color: #bdbdbd;
}

.read .tag {
  background: transparent;
  color: #bdbdbd;
}

.active-read .title {
  color: #717171;
}

.active-read .text {
  color: #717171;
}

.active-read .tag {
  color: #717171;
}

.active-read .subject {
  color: #717171;
}

.card.ng-hide:not(.ng-hide-animate) {
  display: block !important;
  transition: all .25s ease-in-out !important;
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  padding: 0 !important;
  border: none;
}

.article-view {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow .25s ease-in-out;
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  bottom: 10px;
  max-height: inherit;
  overflow: hidden;
  border-radius: 2px;
  background: #fff;
}

#content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 52px;
  left: 0;
  overflow-y: auto;
}

.article-view #subject {
  color: #bdbdbd;
  font-size: 12px;
  line-height: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.article-view #edit-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  text-align: right;
}

.article-view #edit-menu .primary-text {
  color: #212121;
}

.article-view #edit-menu a {
  color: #bdbdbd;
}

.btn-edit {
  visibility: visible;
  color: #212121;
  background-color: #f2f2f2;
  font-family: 'SourceSansPro', sans-serif;
  clear: both;
}

.btn-edit:hover {
  background-color: #d1d1d1;
}

.article-view .text.edit-field {
  padding: 15px;
  height: 24em;
  margin-top: 5em;
}

.article-view #title-wrapper {
  position: relative;
  margin-top: 8px;
  margin: 0 15px;
}

.article-view .title {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

.article-view #title-wrapper .edit-field {
  line-height: 1.813em;
  height: 6em;
}

.article-view #image-wrapper {
  position: relative;
  width: 100%;
  max-height: 50vh;
  display: block;
  margin: 14px 0 0 0;
  justify-content: center;
  text-align: center;
  clear: both;
}

.article-view #image-wrapper #nav-right {
  position: absolute;
  top: 50%;
  right: 15px;
  bottom: 50%;
  z-index: 100;
}

.article-view #image-wrapper #nav-left {
  position: absolute;
  top: 50%;
  left: 15px;
  bottom: 50%;
  z-index: 100;
}

.article-view #image-wrapper::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

#image-wrapper .nav-arrow {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  background-color: #009688;
  width: 2.5em;
  height: 2.5em;
  border-radius: 1.25em;
  transition: box-shadow .25s ease-in-out;
  font-size: 0.75em;
  color: #fff;
  padding: 0.775em;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

#image-wrapper .nav-arrow:hover {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  cursor: pointer;
  background-color: #00796b;
  transition: box-shadow .25s ease-in-out;
}

.article-view #image-wrapper .greyout {
  visibility: hidden;
}

.article-view .article-image {
  display: inline-block;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.article-view .article-image .image {
  width: 100%;
  max-height: 50vh;
  vertical-align: middle;
}

.article-view #image-load-error {
  color: #ff5252;
}

.article-view .text-wrapper {
  margin: 0 15px 15px 15px;
  position: relative;
  top: 30px;
}

.article-view .text {
  display: block;
  font-size: 1.125em;
  line-height: 1.125em;
  clear: both;
  white-space: pre-line;
}

.article-view .edit-field {
  padding: 0 1vw;
  width: 100%;
}

.article-view .editable-buttons {
  float: right;
  margin: 5px 0 75px 0;
}

.article-view #id {
  color: #bdbdbd;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.article-view #id a {
  color: #bdbdbd;
}

#action-area {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 52px;
  padding: 8px;
  border-top: 1px solid #bdbdbd;
  display: inline-block;
}

/*
#action-area .btn {
    height: $act-btn-height;
    background: transparent;
    border: none;
    border-radius: 2px !important;
    
    float: right;
    font-weight: 700;
}

#action-area .btn-default{
    color: $color-font;
}

#action-area .btn-default:hover,
#action-area .btn-default:focus{
    background: rgba($color-font, .12);
}

#action-area .btn-primary{
    color: $color-primary;
}

#action-area .btn-primary:hover,
#action-area .btn-primary:focus,
#action-area .btn-primary:active,
#action-area .btn-primary.open{
    background: rgba($color-primary, .12);
    box-shadow: none;
}*/
/*
#action-area .dropdown-menu.open {
    @include material-shadow(2);
    
    position: relative;
    top: -350%;
    right: 0;
    height: auto;
    max-height: 25vh;
    transition: max-height .25s ease-in-out;
    max-width: 70%;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    z-index: 101;
}*/
#action-area .material-btn {
  margin: 0;
  font-weight: 700;
}

#action-area .btn-group.open .dropdown-toggle {
  width: 100% !important;
  min-width: initial !important;
  box-shadow: none;
  background: rgba(0, 150, 136, 0.12);
}

#action-area #version-pagniation {
  position: absolute;
  left: 15px;
  bottom: 7px;
}

#action-area #version-pagniation .pagination {
  margin: 0;
}

#action-area #version-pagniation .pagination > .disabled > a {
  color: #bdbdbd;
}

#action-area #version-pagniation .pagination-sm > li:first-child > a {
  width: auto !important;
  padding: 0 5px !important;
}

#action-area #version-pagniation .pagination-sm > li:first-child > a:hover {
  border-radius: 2px;
}

#action-area #version-pagniation .pagination-sm > li:last-child > a {
  width: auto !important;
  padding: 0 5px !important;
}

#action-area #version-pagniation .pagination-sm > li:last-child > a:hover {
  border-radius: 2px;
}

#action-area #version-pagniation .pagination > li > a {
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding: 0;
  border: none;
  border-radius: 50%;
  text-align: center;
  margin-right: 3px;
  color: #009688;
}

#action-area #version-pagniation .pagination > .active > a {
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  background-color: #009688;
  color: #fff;
}

#overflow-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  background-color: transparent;
  width: 2.5em;
  height: 2.5em;
  font-size: 1em;
  color: #bdbdbd;
  padding-top: 0.65em;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

#overflow-menu .caret {
  visibility: hidden;
}

#overflow-menu .btn.btn-default.dropdown-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: '\e235';
  margin-left: -.25em;
}

#overflow-menu .btn.btn-default.dropdown-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  background-color: white;
  width: 2.5em;
  height: 2.5em;
  border-radius: 1.25em;
  font-size: 1em;
  color: #bdbdbd;
  padding-top: 0.45em;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  border: none;
  box-shadow: none;
}

#overflow-menu .btn.btn-default.dropdown-toggle:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

#overflow-menu .btn.btn-default.dropdown-toggle:active,
#overflow-menu .btn.btn-default.dropdown-toggle:focus {
  cursor: pointer;
  background-color: #e3e3e3;
}

#overflow-menu .dropdown-menu.open {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  position: relative;
  top: 30px;
  left: -35%;
  height: auto;
  width: 120%;
  max-height: 25vh;
  transition: max-height .25s ease-in-out;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  z-index: 101;
}

#content-wrapper .form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
}

#content-wrapper .edit-field.form-control {
  width: 100% !important;
}

.all-comments-wrapper {
  max-height: 30vh;
  overflow-y: auto;
  margin-bottom: 10px;
}

.comments-wrapper {
  margin: 0 0 -10px 0;
}

.comments-wrapper .self {
  margin-right: 5px;
  text-align: right;
}

.comments-wrapper .info-wrapper .name {
  font-size: 1em;
}

.comments-wrapper .info-wrapper .time-stamp {
  font-size: .75em;
  color: #8f8f8f;
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-group {
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}

.btn-default .badge {
  color: #fff;
  background-color: #333;
}

.btn-primary {
  color: #fff;
  background-color: #009688;
  border-color: #007d71;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #007d71;
  border-color: #00635a;
}

.btn-primary:hover {
  color: #fff;
  background-color: #007d71;
  border-color: #00635a;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  border-color: #004a43;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #004a43;
  border-color: #00302c;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #00c9b6;
  border-color: #00b09f;
}

.btn-primary .badge {
  color: #009688;
  background-color: #fff;
}

.navbar-default {
  background-color: #e5e5e5;
  border-color: #bdbdbd;
}

.navbar-default .navbar-brand {
  color: #777;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-default .navbar-text {
  color: #212121;
}

.navbar-default .navbar-nav > li > a {
  color: #777;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #212121;
  background-color: #e5e5e5;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}

.navbar-default .navbar-link {
  color: #777;
}

.navbar-default .navbar-link:hover {
  color: #333;
}

.navbar-default .btn-link {
  color: #777;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333;
}

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}

.panel {
  background-color: #e5e5e5;
  border: 1px solid #bdbdbd;
}

.panel a {
  color: #212121;
}

.panel-body {
  background-color: #f2f2f2;
}

.panel-heading {
  border-bottom: 1px solid transparent;
}

.panel-heading > .dropdown .dropdown-toggle {
  color: #212121;
}

.panel-title {
  color: #212121;
}

.panel-footer {
  background-color: #e5e5e5;
  border-top: 1px solid #bdbdbd;
}

.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #bdbdbd;
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #bdbdbd;
}

.panel-group .panel-footer {
  border-top: 0;
}

.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #bdbdbd;
}

.panel-default {
  color: #212121;
  border-color: #bdbdbd;
}

.panel-default > .panel-heading {
  color: #212121;
  background-color: #e5e5e5;
  border-color: #bdbdbd;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bdbdbd;
}

.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}

.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bdbdbd;
}

input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: 5px auto #ff5252;
  outline-offset: -2px;
}

.form-control:focus {
  border-bottom: 2px solid #ff5252;
  outline: 0;
}

#loading-bar .bar {
  background: #ff5252;
}

#loading-bar .peg {
  -moz-box-shadow: #ff5252 1px 0 6px 1px;
  -ms-box-shadow: #ff5252 1px 0 6px 1px;
  -webkit-box-shadow: #ff5252 1px 0 6px 1px;
  box-shadow: #ff5252 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: #ff5252;
  border-left-color: #ff5252;
}

.ico-text-1 {
  display: inline;
}

.ico-text-2 {
  display: inline;
}

.ico-text-3 {
  display: inline;
}

@media screen and (max-width: 1200px) {
  .ico-text-1 {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 1100px) {
  .ico-text-2 {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 800px) {
  .ico-text-3 {
    display: none;
    visibility: hidden;
  }
  .panel-title {
    text-align: center;
  }
  .special-title:before, .filter-option:before {
    visibility: visible;
    display: inline;
    left: 0;
    right: 0;
    font-family: 'Glyphicons-Halflings-Regular';
    content: '\e043';
  }
}

#right .btn.btn-default.dropdown-toggle {
  background-color: #009688;
  color: #fff;
  height: 56px;
  border: none;
  border-radius: 2px 0 0 0;
  font-size: 16px;
  line-height: 19px;
  z-index: 100;
}

#right .dropdown-menu.open {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  position: relative;
  top: -20px;
  left: 28%;
  height: auto;
  max-height: 25vh;
  transition: max-height .25s ease-in-out;
  max-width: 70%;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  z-index: 101;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.material {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 100%;
  font-family: 'SourceSansPro', sans-serif;
  background-color: #f2f2f2;
}

.material.card {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow .25s ease-in-out;
  margin-top: 20vh;
  height: auto;
  padding: 24px 24px;
  border-radius: 2px;
  background: #fff;
}

.material.card .primary-title {
  font-size: 24px;
  padding-bottom: 16px;
}

.material.card .supporting-text {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 16px;
}

.material.card .action-area {
  height: 52px;
  margin: 0 -24px -24px -24px;
}

.divider.full-bleed {
  left: 0;
  right: 0;
  height: 1px;
  background-color: #bdbdbd;
}

.divider.inset {
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.12);
}

.material-card .expand-area {
  padding-top: 16px;
}

/*
.material.card .card-action {
    height: 36px;
    margin: 8px;
    font-size: 14px;
    padding: 9px 16px;
    background: transparent;
    border: none;
    border-radius: 2px !important;
    float: right;
    font-weight: 500;
    text-decoration: none;
}
.material.card .card-action:hover {
    cursor: pointer;
}

.material.card .default {
    color: $color-font;
}

.material.card .default:hover {
    background: rgba($color-font, .12);
}

.material.card .primary {
    color: $color-primary;
}

.material.card .primary:hover {
    background: rgba($color-primary, .12);
}*/
@media only screen and (min-width: 480px) {
  .material.card {
    width: 80vw;
    margin-left: 10vw;
  }
}

@media only screen and (min-width: 768px) {
  .material.card {
    width: 60vw;
    margin-left: 20vw;
  }
}

@media only screen and (min-width: 992px) {
  .material.card {
    width: 50vw;
    margin-left: 25vw;
  }
}

@media only screen and (min-width: 1200px) {
  .material.card {
    width: 30vw;
    margin-left: 35vw;
  }
}

@media only screen and (min-width: 1600px) {
  .material.card {
    width: 20vw;
    margin-left: 40vw;
  }
}

.material-form .dropdown-toggle {
  width: 100%;
  text-align: left;
}

.material-form .dropdown-toggle .caret {
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}

.material-form .dropdown-toggle.btn {
  border-radius: 0;
  border-bottom: 1px solid #bdbdbd;
  font-size: 16px;
  color: #bdbdbd;
  padding-left: 0;
  padding-right: 0;
}

.material-form .dropdown-toggle.btn:hover {
  border-bottom: 2px solid rgba(33, 33, 33, 0.87);
  color: rgba(33, 33, 33, 0.54);
  transition: all .25s ease-in-out;
}

.material-form .dropdown .item-selected:hover {
  color: #212121;
}

.material-form .dropdown-toggle.btn:active,
.material-form .dropdown-toggle.btn:focus {
  border-bottom: 2px solid #009688;
}

.material-form .dropdown {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.material-form .dropdown .item-selected {
  color: #212121;
}

.material-form .dropdown label {
  visibility: hidden;
  height: 12px;
  font-size: 12px;
  position: absolute;
  top: 0;
  transition: all .25s ease-in-out;
}

.material-form .dropdown-menu {
  right: -4px;
  left: -4px;
  top: 0;
  border-radius: 2px;
}

.material-form .btn,
.material-form .btn:active,
.material-form .btn:hover,
.material-form .btn:focus,
.material-form .btn-primary,
.material-form .btn-primary:active,
.material-form .btn-primary:hover,
.material-form .btn-primary:focus,
.material-form .btn-primary:active:hover,
.material-form .btn-primary:active.focus,
.material-form .open > .dropdown-toggle.btn-primary,
.material-form .open > .dropdown-toggle.btn-primary:hover,
.material-form .open > .dropdown-toggle.btn-primary:focus {
  background: transparent;
  color: #212121;
  border: none;
  box-shadow: none;
  font-size: 16px;
  height: 28px;
  margin: 0 0 8px 0;
  padding: 0 0 12px 0;
}

.material-form.form-group input,
.material-form.form-group .menu-search input {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  font-size: 16px;
  height: 24px;
  margin: 0 0 8px 0;
  padding: 0 0 8px 0;
  width: 100%;
}

.material-form.form-group .material-input-field,
.material-form.form-group .menu-search .material-input-field {
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 8px;
  position: relative;
  padding-top: 24px;
  height: 64px;
}

.material-form.form-group .material-input-field input:hover,
.material-form.form-group .menu-search .material-input-field input:hover {
  border-bottom: 2px solid rgba(33, 33, 33, 0.87);
  transition: all .25s ease-in-out;
}

.material-form.form-group .material-input-field input:active,
.material-form.form-group .material-input-field input:focus,
.material-form.form-group .menu-search .material-input-field input:active,
.material-form.form-group .menu-search .material-input-field input:focus {
  padding: 0 0 7px 0;
  border-bottom: 2px solid #009688;
}

.material-form.form-group .menu-search .material-input-field {
  margin-right: 32px;
  margin-left: 32px;
  margin-top: 8px;
  margin-bottom: 0;
  height: 40px;
}

.material-form.form-group .menu-search .material-input-field input {
  padding-bottom: 0;
  margin-bottom: 0;
}

.material-dropdown .dropdown-menu.bump-menu-for-search {
  top: -40px;
  left: -8px;
}

.material-input-field label,
.menu-search .material-input-field label {
  visibility: visible;
  position: absolute;
  left: 0;
  top: 24px;
  font-size: 16px;
  font-weight: normal;
  color: #bdbdbd;
  transition: all .25s ease-in-out;
  pointer-events: none;
}

.material-input-field label.with-text,
.dropdown-label,
.dropdown-label.with-text {
  height: 12px;
  font-size: 12px;
  position: absolute;
  top: 0;
  transition: all .25s ease-in-out;
}

.dropdown-label {
  visibility: hidden;
}

.dropdown-label.with-text {
  visibility: visible;
}

.material-input-field input:hover + label {
  color: rgba(33, 33, 33, 0.54);
  transition: all .25s ease-in-out;
}

.material-input-field input:active + label,
.material-input-field input:focus + label,
.material-input-field button:active + label,
.material-input-field button:focus + label,
.material-form .dropdown-toggle.btn:active + label,
.material-form .dropdown-toggle.btn:focus + label,
.material-form .dropdown.open + label {
  color: #009688;
  height: 12px;
  font-size: 12px;
  position: absolute;
  top: 0;
  transition: all .25s ease-in-out;
}

.fade {
  transition: all linear .25s;
  opacity: 1;
}

.fade.ng-hide {
  opacity: 0;
}

label.active {
  color: #009688;
}

.material-form label.error,
.material-input-field .counter.error {
  color: red !important;
  transition: all .25s ease-in-out;
}

.material-form.form-group input.error {
  border-bottom-color: red !important;
}

.material-input-field .counter {
  color: #bdbdbd;
  height: 12px;
  font-size: 12px;
  float: right;
  transition: all .25s ease-in-out;
}

.material-btn.flat {
  outline: none;
  height: 36px;
  margin: 8px 8px 8px 0;
  font-size: 14px;
  padding: 9px 16px;
  background: transparent;
  border: none;
  border-radius: 2px !important;
  float: right;
  font-weight: 500;
  text-decoration: none;
}

.material-btn.flat:hover {
  cursor: pointer;
}

.material-btn.flat.primary {
  color: #009688;
}

.material-btn.flat.primary:hover,
.material-btn.flat.primary:focus {
  background: rgba(0, 150, 136, 0.12);
}

.material-btn.flat.primary:active {
  background: rgba(0, 150, 136, 0.4);
}

.material-btn.flat.default {
  color: #212121;
}

.material-btn.flat.default:hover,
.material-btn.flat.default:focus {
  background: rgba(33, 33, 33, 0.12);
}

.material-btn.flat.default:active {
  background: rgba(33, 33, 33, 0.4);
}

.material-btn.flat.disabled {
  color: rgba(33, 33, 33, 0.26);
}

.material-btn.flat.disabled:hover,
.material-btn.flat.disabled:focus {
  background: transparent;
  cursor: auto;
}

.material-btn.flat.disabled:active {
  background: transparent;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-content {
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: box-shadow .25s ease-in-out;
  margin-top: 15vh;
  padding: 24px 24px;
  border-radius: 2px;
  background: #fff;
}

.material-modal .primary-title {
  font-size: 24px;
  padding-bottom: 16px;
}

.material-modal .supporting-text {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 16px;
}

.material-modal .action-area {
  height: 52px;
  margin: 0 -24px -24px -24px;
}

.divider.full-bleed {
  left: 0;
  right: 0;
  height: 1px;
  background-color: #bdbdbd;
}

.divider.inset {
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.12);
}

.material-modal .expand-area {
  padding-top: 16px;
}

.material-modal .material-btn.flat {
  font-weight: bold;
}

.material-dropdown .dropdown-menu {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s ease-in-out;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  z-index: 101;
}

.material-dropdown .dropdown-menu a {
  display: inline-block;
  width: 100%;
}

.material-dropdown .dropdown-menu a .item {
  display: inline;
}

.material-dropdown .dropdown-menu a .glyphicon {
  float: right;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.material.table .row,
.material .table .row {
  height: 48px;
  font-size: 13px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  position: relative;
}

.material.table .row.add input,
.material .table .row.add input {
  background: transparent;
  padding: 0px;
  margin: 0px;
  height: auto;
  border: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.material.table .row.add .glyphicon:hover,
.material.table .row.add .icon:hover {
  color: #009688;
}

.material.table .row.add .row-content > .definition {
  width: 85%;
}

.material.table .row.add .row-content > .definition ~ .definition {
  width: auto;
}

.material.table .row:hover,
.material .table .row:hover
.material.table .row:focus,
.material .table .row:focus {
  background-color: #eee;
}

.material.table .row-content,
.material .table .row-content {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.material.table .row-content > .definition {
  float: left;
  margin-left: 0;
}

.material.table .row-content > .definition ~ .definition {
  float: right;
  margin-left: 56px;
}

.material.table .definition .glyphicon,
.material.table .definition .icon {
  color: rgba(0, 0, 0, 0.54);
}

.material.table .definition .glyphicon:hover,
.material.table .definition .icon:hover {
  color: #212121;
  cursor: pointer;
}

.title {
  color: #212121;
}

.text {
  color: #212121;
}

.tag {
  color: #bdbdbd;
  font-family: 'Montserrat', sans-serif;
}

#action {
  float: left;
  padding-top: .1em;
}

.pointer-on-hover:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #ff5252;
}

.center-parent {
  position: relative;
}

.center-xy {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.center-y {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
