/*Article View*/
/*Light*/
/*Dark*/
/*does not apply to all elements*/
/* line 7, D:/work/dat/conduit/sass/viewer.scss */
.article-view {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  bottom: 70px;
  max-height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  border-radius: 2px;
  /*border: 1px solid $colorGrey;*/
  background: #fff;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

/* line 25, D:/work/dat/conduit/sass/viewer.scss */
.article-view #subject {
  color: #bdbdbd;
  font-size: 12px;
  line-height: 15px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

/* line 34, D:/work/dat/conduit/sass/viewer.scss */
.btn-edit {
  visibility: visible;
  color: #212121;
  background-color: #f2f2f2;
  font-family: 'SourceSansPro', sans-serif;
  clear: both;
}

/* line 41, D:/work/dat/conduit/sass/viewer.scss */
.btn-edit:hover {
  background-color: #d1d1d1;
}

/* line 45, D:/work/dat/conduit/sass/viewer.scss */
.article-view .text.edit-field {
  margin: 0 15px;
  height: 50vh;
}

/* line 50, D:/work/dat/conduit/sass/viewer.scss */
.article-view #title-wrapper {
  position: relative;
  margin-top: 8px;
  margin: 0 15px;
}

/* line 57, D:/work/dat/conduit/sass/viewer.scss */
.article-view .title {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

/* line 62, D:/work/dat/conduit/sass/viewer.scss */
.article-view #title-wrapper .edit-field {
  line-height: 1.813em;
  height: 6em;
}

/* line 67, D:/work/dat/conduit/sass/viewer.scss */
.article-view #image-wrapper {
  position: relative;
  width: 100%;
  max-height: 50vh;
  display: block;
  margin: 14px 0 0 0;
  justify-content: center;
  text-align: center;
  clear: both;
}

/* line 77, D:/work/dat/conduit/sass/viewer.scss */
.article-view #image-wrapper #nav-right {
  position: absolute;
  top: 50%;
  right: 15px;
  bottom: 50%;
  z-index: 100;
}

/* line 84, D:/work/dat/conduit/sass/viewer.scss */
.article-view #image-wrapper #nav-left {
  position: absolute;
  top: 50%;
  left: 15px;
  bottom: 50%;
  z-index: 100;
}

/* line 93, D:/work/dat/conduit/sass/viewer.scss */
.article-view #image-wrapper::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

/* line 101, D:/work/dat/conduit/sass/viewer.scss */
#image-wrapper .nav-arrow {
  background-color: #009688;
  width: 2.5em;
  height: 2.5em;
  border-radius: 1.25em;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  transition: box-shadow .25s ease-in-out;
  font-size: 0.75em;
  color: #fff;
  padding: 0.775em;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

/* line 121, D:/work/dat/conduit/sass/viewer.scss */
#image-wrapper .nav-arrow:hover {
  cursor: pointer;
  background-color: #00796b;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  transition: box-shadow .25s ease-in-out;
}

/* line 128, D:/work/dat/conduit/sass/viewer.scss */
.article-view #image-wrapper .greyout {
  visibility: hidden;
}

/* line 132, D:/work/dat/conduit/sass/viewer.scss */
.article-view .article-image {
  display: inline-block;
  margin: auto;
  justify-content: center;
  text-align: center;
}

/* line 139, D:/work/dat/conduit/sass/viewer.scss */
.article-view .article-image .image {
  width: 100%;
  max-height: 50vh;
  vertical-align: middle;
}

/* line 145, D:/work/dat/conduit/sass/viewer.scss */
.article-view .text-wrapper {
  margin: 0 15px;
  position: relative;
  top: 30px;
}

/* line 151, D:/work/dat/conduit/sass/viewer.scss */
.article-view .text {
  display: block;
  font-size: 1.125em;
  line-height: 1.125em;
  clear: both;
  white-space: pre-line;
}

/* line 159, D:/work/dat/conduit/sass/viewer.scss */
.article-view .edit-field {
  padding: 0 1vw;
  width: 50vw;
}

/* line 164, D:/work/dat/conduit/sass/viewer.scss */
.article-view .editable-buttons {
  float: right;
  margin: 5px 0 75px 0;
}

/* line 169, D:/work/dat/conduit/sass/viewer.scss */
.toolbox {
  position: absolute;
  bottom: -10px;
  left: 20px;
  right: 20px;
  height: 50px;
}

/* line 176, D:/work/dat/conduit/sass/viewer.scss */
.toolbox .container-fluid {
  padding: 0;
}

/* line 179, D:/work/dat/conduit/sass/viewer.scss */
.toolbox .container-fluid .navbar-info {
  padding: 0;
}

/* line 182, D:/work/dat/conduit/sass/viewer.scss */
.toolbox .container-fluid .navbar-right {
  margin-right: 0;
}

/*# sourceMappingURL=../styles/viewer.map */