/*Article View*/
/*Light*/
/*Dark*/
/*does not apply to all elements*/
/* line 10, D:/work/dat/conduit/sass/viewer.scss */
.article-view {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  bottom: 10px;
  max-height: inherit;
  overflow: hidden;
  border-radius: 2px;
  /*border: 1px solid $colorGrey;*/
  background: #fff;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

/* line 26, D:/work/dat/conduit/sass/viewer.scss */
#content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 52px;
  left: 0;
  overflow-y: auto;
}

/* line 35, D:/work/dat/conduit/sass/viewer.scss */
.article-view #subject {
  color: #bdbdbd;
  font-size: 12px;
  line-height: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

/* line 45, D:/work/dat/conduit/sass/viewer.scss */
.btn-edit {
  visibility: visible;
  color: #212121;
  background-color: #f2f2f2;
  font-family: 'SourceSansPro', sans-serif;
  clear: both;
}

/* line 52, D:/work/dat/conduit/sass/viewer.scss */
.btn-edit:hover {
  background-color: #d1d1d1;
}

/* line 56, D:/work/dat/conduit/sass/viewer.scss */
.article-view .text.edit-field {
  padding: 15px;
  height: 24em;
  margin-top: 5em;
}

/* line 62, D:/work/dat/conduit/sass/viewer.scss */
.article-view #title-wrapper {
  position: relative;
  margin-top: 8px;
  margin: 0 15px;
}

/* line 69, D:/work/dat/conduit/sass/viewer.scss */
.article-view .title {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

/* line 74, D:/work/dat/conduit/sass/viewer.scss */
.article-view #title-wrapper .edit-field {
  line-height: 1.813em;
  height: 6em;
}

/* line 79, D:/work/dat/conduit/sass/viewer.scss */
.article-view #image-wrapper {
  position: relative;
  width: 100%;
  max-height: 50vh;
  display: block;
  margin: 14px 0 0 0;
  justify-content: center;
  text-align: center;
  clear: both;
}

/* line 89, D:/work/dat/conduit/sass/viewer.scss */
.article-view #image-wrapper #nav-right {
  position: absolute;
  top: 50%;
  right: 15px;
  bottom: 50%;
  z-index: 100;
}

/* line 96, D:/work/dat/conduit/sass/viewer.scss */
.article-view #image-wrapper #nav-left {
  position: absolute;
  top: 50%;
  left: 15px;
  bottom: 50%;
  z-index: 100;
}

/* line 105, D:/work/dat/conduit/sass/viewer.scss */
.article-view #image-wrapper::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

/* line 113, D:/work/dat/conduit/sass/viewer.scss */
#image-wrapper .nav-arrow {
  background-color: #009688;
  width: 2.5em;
  height: 2.5em;
  border-radius: 1.25em;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  transition: box-shadow .25s ease-in-out;
  font-size: 0.75em;
  color: #fff;
  padding: 0.775em;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

/* line 133, D:/work/dat/conduit/sass/viewer.scss */
#image-wrapper .nav-arrow:hover {
  cursor: pointer;
  background-color: #00796b;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  transition: box-shadow .25s ease-in-out;
}

/* line 140, D:/work/dat/conduit/sass/viewer.scss */
.article-view #image-wrapper .greyout {
  visibility: hidden;
}

/* line 144, D:/work/dat/conduit/sass/viewer.scss */
.article-view .article-image {
  display: inline-block;
  margin: auto;
  justify-content: center;
  text-align: center;
}

/* line 151, D:/work/dat/conduit/sass/viewer.scss */
.article-view .article-image .image {
  width: 100%;
  max-height: 50vh;
  vertical-align: middle;
}

/* line 157, D:/work/dat/conduit/sass/viewer.scss */
.article-view #image-load-error {
  color: #ff5252;
}

/* line 161, D:/work/dat/conduit/sass/viewer.scss */
.article-view .text-wrapper {
  margin: 0 15px 15px 15px;
  position: relative;
  top: 30px;
}

/* line 167, D:/work/dat/conduit/sass/viewer.scss */
.article-view .text {
  display: block;
  font-size: 1.125em;
  line-height: 1.125em;
  clear: both;
  white-space: pre-line;
}

/* line 175, D:/work/dat/conduit/sass/viewer.scss */
.article-view .edit-field {
  padding: 0 1vw;
  width: 100%;
}

/* line 180, D:/work/dat/conduit/sass/viewer.scss */
.article-view .editable-buttons {
  float: right;
  margin: 5px 0 75px 0;
}

/* line 185, D:/work/dat/conduit/sass/viewer.scss */
.article-view #id {
  color: #bdbdbd;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

/* line 192, D:/work/dat/conduit/sass/viewer.scss */
.article-view #id a {
  color: #bdbdbd;
}

/* line 199, D:/work/dat/conduit/sass/viewer.scss */
#action-area {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 52px;
  padding: 8px;
  border-top: 1px solid #bdbdbd;
  display: inline-block;
}

/* line 212, D:/work/dat/conduit/sass/viewer.scss */
#action-area .btn {
  height: 36px;
  background: transparent;
  border: none;
  border-radius: 2px !important;
  float: right;
  font-weight: 700;
}

/* line 222, D:/work/dat/conduit/sass/viewer.scss */
#action-area .btn-default {
  color: #212121;
}

/* line 226, D:/work/dat/conduit/sass/viewer.scss */
#action-area .btn-default:hover,
#action-area .btn-default:focus {
  background: rgba(33, 33, 33, 0.12);
}

/* line 231, D:/work/dat/conduit/sass/viewer.scss */
#action-area .btn-primary {
  color: #009688;
}

/* line 235, D:/work/dat/conduit/sass/viewer.scss */
#action-area .btn-primary:hover,
#action-area .btn-primary:focus,
#action-area .btn-primary:active,
#action-area .btn-primary.open {
  background: rgba(0, 150, 136, 0.12);
  box-shadow: none;
}

/* line 243, D:/work/dat/conduit/sass/viewer.scss */
#action-area .dropdown-menu.open {
  position: relative;
  top: -350%;
  right: 0;
  height: auto;
  max-height: 25vh;
  transition: max-height .25s ease-in-out;
  max-width: 70%;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  z-index: 101;
}

/* line 258, D:/work/dat/conduit/sass/viewer.scss */
#action-area .btn-group.open .dropdown-toggle {
  width: 100% !important;
  min-width: initial !important;
  box-shadow: none;
  background: rgba(0, 150, 136, 0.12);
}

/* line 265, D:/work/dat/conduit/sass/viewer.scss */
#action-area #version-pagniation {
  position: absolute;
  left: 15px;
  bottom: 7px;
}

/* line 270, D:/work/dat/conduit/sass/viewer.scss */
#action-area #version-pagniation .pagination {
  margin: 0;
}

/* line 274, D:/work/dat/conduit/sass/viewer.scss */
#action-area #version-pagniation .pagination > .disabled > a {
  color: #bdbdbd;
}

/* line 278, D:/work/dat/conduit/sass/viewer.scss */
#action-area #version-pagniation .pagination-sm > li:first-child > a {
  width: auto !important;
  padding: 0px 5px !important;
}

/* line 282, D:/work/dat/conduit/sass/viewer.scss */
#action-area #version-pagniation .pagination-sm > li:first-child > a:hover {
  border-radius: 2px;
}

/* line 286, D:/work/dat/conduit/sass/viewer.scss */
#action-area #version-pagniation .pagination-sm > li:last-child > a {
  width: auto !important;
  padding: 0px 5px !important;
}

/* line 290, D:/work/dat/conduit/sass/viewer.scss */
#action-area #version-pagniation .pagination-sm > li:last-child > a:hover {
  border-radius: 2px;
}

/* line 296, D:/work/dat/conduit/sass/viewer.scss */
#action-area #version-pagniation .pagination > li > a {
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding: 0;
  border: none;
  border-radius: 50%;
  text-align: center;
  margin-right: 3px;
  color: #009688;
}

/* line 310, D:/work/dat/conduit/sass/viewer.scss */
#action-area #version-pagniation .pagination > .active > a {
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  background-color: #009688;
  color: #fff;
}

/*
#overflow-menu {
	position: absolute;
	top: 20px;
    right: 20px;
    height: 30px;
    font-size: 18px;
    padding-top: 3px;
    width: 30px;
    color: #bdbdbd;
    border-radius: 50%;
    text-align: center;
    display: block;
}

#overflow-menu:hover {
	background: lighten($colorGrey, 20%);
}*/
/* line 344, D:/work/dat/conduit/sass/viewer.scss */
#overflow-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  background-color: transparent;
  width: 2.5em;
  height: 2.5em;
  font-size: 1em;
  color: #bdbdbd;
  padding-top: 0.65em;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

/* line 360, D:/work/dat/conduit/sass/viewer.scss */
#overflow-menu .caret {
  visibility: hidden;
}

/* line 364, D:/work/dat/conduit/sass/viewer.scss */
#overflow-menu .btn.btn-default.dropdown-toggle:after {
  font-family: "Glyphicons Halflings";
  content: '\e235';
  margin-left: -.25em;
}

/* line 370, D:/work/dat/conduit/sass/viewer.scss */
#overflow-menu .btn.btn-default.dropdown-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  background-color: white;
  width: 2.5em;
  height: 2.5em;
  border-radius: 1.25em;
  font-size: 1em;
  color: #bdbdbd;
  padding-top: 0.45em;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  border: none;
  box-shadow: none;
}

/* line 390, D:/work/dat/conduit/sass/viewer.scss */
#overflow-menu .btn.btn-default.dropdown-toggle:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

/* line 395, D:/work/dat/conduit/sass/viewer.scss */
#overflow-menu .btn.btn-default.dropdown-toggle:active,
#overflow-menu .btn.btn-default.dropdown-toggle:focus {
  cursor: pointer;
  background-color: #e3e3e3;
}

/* line 401, D:/work/dat/conduit/sass/viewer.scss */
#overflow-menu .dropdown-menu.open {
  position: relative;
  top: 30px;
  left: -35%;
  height: auto;
  width: 120%;
  max-height: 25vh;
  transition: max-height .25s ease-in-out;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  z-index: 101;
}

/*#righoverflow-menut .nya-bs-select.btn-group .dropdown-menu {
    width: 100% !important;
    min-width: initial !important;
}*/
/* line 421, D:/work/dat/conduit/sass/viewer.scss */
#content-wrapper .form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 430, D:/work/dat/conduit/sass/viewer.scss */
#content-wrapper .edit-field.form-control {
  width: 100% !important;
}

/*# sourceMappingURL=../styles/viewer.map */